.messages {
  border-radius: 2px;
  border: 1px solid #dddddd;

  margin-bottom: 5px;
  &:last-child { margin-bottom: 0; }
}

.messages-tool {
  padding: 5px 15px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid transparent;  /* to balance the 1px border-bottom */

  color: #333;
  cursor: default;
}

.messages-list {
  padding: 0 5px;

  .messages-list-item {
    padding: 5px;

    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

    border-bottom: 1px solid rgba(0, 0, 0, .075);
    &:last-child { border-bottom: none; }

    span {
      margin-right: 16px;
      &:last-child { margin-right: 0; }
    }

    .rule-identifier,
    .message-properties {
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
      color: #777;

      display: inline-block;
      white-space: nowrap;

      .tags {
        font-size: 15px;
        width: 15px;
        height: 15px;

        position: relative;
        top: 3px;
      }
    }
  }
}
