:host {
  display: block;
  padding-left: 40px;
}

.messages {
  border: 1px solid var(--elem-border);

  margin-bottom: 5px;
  &:last-child { margin-bottom: 0; }


  .messages-tool {
    padding: 5px 15px;
    background-color: var(--medium-shade);
    border-bottom: 1px solid var(--strong-shade);

    color: #333;
    cursor: default;
  }

  .messages-list {
    padding: 0 5px;

    .messages-list-item {
      padding: 5px;

      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;

      border-bottom: 1px solid var(--strong-shade);
      &:last-child { border-bottom: none; }

      span.identifier {
        text-align: right;

        .rule-identifier,
        .message-properties,
        .review-identifier {
          font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
          color: #777;

          display: inline-block;
          white-space: nowrap;
          padding-left: 10px;

          .tags {
            font-size: 15px;
            width: 15px;
            height: 15px;

            position: relative;
            top: 3px;
          }
        }
      }
    }
  }
}
