<!DOCTYPE html>
<html lang="">
<head>
    <title><Codepeer report></title>
  <script>
    document.write("<base href='" + window.location.href + "'/>");
  </script>

  <script>var REPORT = {}</script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/variable-theme.css">

    <!-- Base URL -->
    <!-- <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>"> -->
</head>
<body>
    <main-responder>
        <div style="text-align: center;">Still working…</div>
    </main-responder>

</body>
</html>
