<!DOCTYPE html>
<html lang="">
<head>
    <title><%= webpackConfig.metadata.title %></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= webpackConfig.metadata.title %>">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">

    <% if (webpackConfig.htmlElements.headTags) { %>
    <!-- Configured Head Tags  -->
    <%= webpackConfig.htmlElements.headTags %>
    <% } %>

    <!-- Base URL -->
    <!-- <base href="<%= webpackConfig.metadata.baseUrl %>"> -->
</head>
<body>
    <main-responder>
        Loading...
    </main-responder>

    <% if (webpackConfig.metadata.isDevServer) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
</body>
</html>
