.layout-page {
    display: inline-block;

    .info-span {
        color: grey;
        font-size: 15px;
        text-align: center;
        width: 100%;
        padding-top: 10px;
    }

    main {
        height: 100%;

        .center {
            text-align: center;
        }
        .hideIt {
            display: none;
        }

        .tab-header.right {
             text-align: right;
        }

        .tab-header {
            background-color: var(--header-color);
            border: solid 1px var(--header-border);
            border-width: 0px 0px 1px 0px;
            font-size: 14px;

            .hide-files, .expand-collapse {
                padding-right: 10px;
            }

            .expandCollapse {
                padding-top: 5px;
                padding-bottom: 5px;
                display: inline-block;
            }
            .expandCollapse:hover {
                text-decoration: underline;
                cursor: pointer;
            }

            .click {
                padding-top: 5px;
                padding-bottom: 5px;
            }
            .click:hover {
                background-color: var(--header-hover);
                cursor: pointer;
            }

            .header-icon {
                margin: 1px;
                position: absolute;
            }
        }

        .all-projects-line {
            height: calc(100% - 34px);
            overflow: auto;

            .project-line {
                padding-bottom: 2px;
                padding-top: 2px;
                text-align: left;
            }
            .project-line:hover {
                background-color: var(--light-shade);
                cursor: pointer;
            }

            .project-tree {
                position: absolute;
                left: 0px;
                top: -1px;
            }
            .project-tree.open {
                transform: rotate(90deg);
            }

            .all-folders-line {
                .folder-line {
                    background-color: var(--medium-shade);
                }
                .folder-line:hover {
                    background-color: var(--strong-shade);
                    cursor: pointer;
                }

                .folder-tree {
                    position: absolute;
                    left: -5px;
                    top: -1px;
                }


                .all-files-line {
                    .file-line {
                        background-color: var(--elem-color);
                    }
                    .file-line:hover {
                        background-color: var(--elem-hover);
                        cursor: pointer;
                    }

                    .file-tree {
                        position: absolute;
                        left: -5px;
                        top: -1px;
                    }
                }
            }

            .reduce {
                height: 0px;
                display: none
            }
            .open {
                height: 100%;
                display: inline-block;
            }

        }
    }
}

.hide-files {
    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
        margin-right: 5px;
    }
    .slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #94d894;
    }
    input:focus + .slider {
        box-shadow: 0 0 1px #94d894;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }

    label {
        padding: 0px 10px;
        margin-bottom: 5px;
        cursor: pointer;
    }
    .hideIt {
        display: none;
    }
}
