<div>
    <div *ngIf="!blob">Loading annotated source...</div>
    <div *ngIf="blob">
        <h4>Info</h4>
        <ul>
            <li>Filename: {{ blob.filename }}</li>
            <li>Project: {{ blob.project }}</li>
        </ul>
        <h4>Metrics</h4>
        <p>
            <em>No metrics to display for now</em>
        </p>
        <div class="editor read-only">
            <div class="file-header">{{ blob.filename }}</div>
            <table>
                <template ngFor let-line [ngForOf]="highlightedLines()" let-isOdd="odd">
                    <tr class="blob" [ngClass]="{ odd: isOdd }">
                        <td class="blob-number">{{ line.number }}</td>
                        <!-- line.content may contain escaped HTML entities.
                             Use AngularJS embedded sanitizer to render it.  -->
                        <td class="blob-code" [innerHTML]="line.content"></td>
                    </tr>
                </template>
            </table>
        </div>
    </div>
</div>
