$dl-width: 200px;

:host {
  display: block;
  max-width: 1280px;
  margin: 0 auto;
}

.dl-horizontal {
  margin-top: 32px;

  dt { width: $dl-width; }
  dd { margin-left: calc(#{$dl-width} + 20px); }
  ul { padding-left: 18px; }
}
