share/examples/sdc/projects/prj2/src2.adb no-precommit-check
share/examples/sdc/projects/prj4/src4.adb no-precommit-check
share/examples/sdc/projects/prj1/src1.adb no-precommit-check
share/examples/sdc/projects/prj3/src3.adb no-precommit-check
share/examples/sdc/common/screen_output.ads no-precommit-check
share/examples/sdc/common/input.ads no-precommit-check
share/examples/sdc/common/input.adb no-precommit-check
share/examples/sdc/common/screen_output.adb no-precommit-check
share/examples/sdc/common/except.ads no-precommit-check
share/examples/sdc/common/stack.adb no-precommit-check
share/examples/sdc/common/sdc.adb no-precommit-check
share/examples/sdc/common/stack.ads no-precommit-check
share/examples/sdc/common/sdc.ads no-precommit-check
share/examples/sdc/obj/codepeer/b~sdc.adb no-precommit-check
share/examples/sdc/obj/codepeer/b~sdc.ads no-precommit-check
share/examples/sdc/struct/instructions.adb no-precommit-check
share/examples/sdc/struct/values.ads no-precommit-check
share/examples/sdc/struct/tokens.adb no-precommit-check
share/examples/sdc/struct/values.adb no-precommit-check
share/examples/sdc/struct/tokens.ads no-precommit-check
share/examples/sdc/struct/values-operations.adb no-precommit-check
share/examples/sdc/struct/values-operations.ads no-precommit-check
share/examples/sdc/struct/instructions.ads no-precommit-check
