# GNAThub Test Files
gnathub/share/examples/gnatdashboard/sdc/projects/prj2/src2.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/projects/prj4/src4.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/projects/prj1/src1.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/projects/prj3/src3.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/common/screen_output.ads no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/common/input.ads no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/common/input.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/common/screen_output.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/common/except.ads no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/common/stack.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/common/sdc.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/common/stack.ads no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/common/sdc.ads no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/obj/codepeer/b~sdc.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/obj/codepeer/b~sdc.ads no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/struct/instructions.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/struct/values.ads no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/struct/tokens.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/struct/values.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/struct/tokens.ads no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/struct/values-operations.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/struct/values-operations.ads no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/struct/instructions.ads no-precommit-check
# sonar-ada-plugin Java Files
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/AdaCountIssuesDecorator.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/AdaDefaultProfile.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/AdaMetrics.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/AdaPlugin.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/AdaProjectContext.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/codepeer/CodePeerCategory.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/codepeer/CodePeerRulesDefinition.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/codepeer/CodePeerSeverity.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/coverage/CoverageSensor.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/gnat/GNATcheckRulesDefinition.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/gnat/GNATcoverageRulesDefinition.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/gnat/GNAThubIssueSensor.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/gnat/GNATmetricSensor.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/gnat/GNATproveRulesDefinition.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/lang/Ada.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/lang/AdaColorizer.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/lang/AdaCommentTokenizer.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/lang/AdaLiteralTokenizer.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/persistence/Connector.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/persistence/CoverageRecord.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/persistence/IssueRecord.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/persistence/MeasureRecord.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/persistence/ProjectDAO.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/persistence/ResourceKind.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/persistence/RowMapper.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/persistence/RuleKind.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/persistence/SQLQueries.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/utils/AdaToolRulesDefinition.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/utils/CustomMetrics.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/utils/GNAThubEncoding.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/utils/MaxAggregationFormula.java no-precommit-check
sonar-ada-plugin/src/test/java/org/sonar/plugins/ada/AreResourcesAvailableTest.java no-precommit-check
# Old known-problems and features files
features-10        no-precommit-check
features-11        no-precommit-check
known-problems-09  no-precommit-check
known-problems-10  no-precommit-check
# Webui JS files
webui/gulpfile.js no-precommit-check
webui/spec-bundle.js no-precommit-check
webui/karma.conf.js no-precommit-check
webui/webpack.config.js no-precommit-check
webui/webpack.prod.config.js no-precommit-check
webui/webpack.test.config.js no-precommit-check
