# GNAThub Test Files
gnathub/share/examples/gnatdashboard/sdc/projects/prj2/src2.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/projects/prj4/src4.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/projects/prj1/src1.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/projects/prj3/src3.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/common/screen_output.ads no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/common/input.ads no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/common/input.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/common/screen_output.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/common/except.ads no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/common/stack.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/common/sdc.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/common/stack.ads no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/common/sdc.ads no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/obj/codepeer/b~sdc.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/obj/codepeer/b~sdc.ads no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/struct/instructions.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/struct/values.ads no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/struct/tokens.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/struct/values.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/struct/tokens.ads no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/struct/values-operations.adb no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/struct/values-operations.ads no-precommit-check
gnathub/share/examples/gnatdashboard/sdc/struct/instructions.ads no-precommit-check
# sonar-ada-plugin Java Files
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/Ada.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/AdaColorizer.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/AdaDefaultProfile.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/AdaPlugin.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/AdaSourceImporter.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/api/resource/AdaDirectory.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/api/resource/AdaFile.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/api/resource/AdaProject.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/codepeer/AdaCodePeerRuleRepository.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/codepeer/CodePeerMetrics.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/codepeer/CodePeerRuleCategory.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/codepeer/CodePeerSeverity.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/codepeer/CodePeerViolationsDecorator.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/gcov/CoverageData.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/gcov/GcovSensor.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/gnatcheck/AdaGnatCheckRuleRepository.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/gnatcheck/GnatCheckMetrics.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/gnatcheck/GnatCheckViolationsDecorator.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/gnatcheck/GnatCheckViolationsDensityDecorator.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/gnatcheck/GnatCheckWeightedViolationsDecorator.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/GNATIssuesSensor.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/gnatmetric/AdaGnatMetricSensor.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/gnatmetric/GnatMetrics.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/gnatprove/GNATproveRuleRepository.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/persistence/AdaDao.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/persistence/JDBCUtils.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/persistence/RowMapper.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/tokenizer/AdaCommentTokenizer.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/tokenizer/AdaLiteralTokenizer.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/ui/rubyWidget/CodePeerViolationsRubyWidget.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/ui/rubyWidget/GnatCheckViolationsRubyWidget.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/utils/AdaAbstractRuleRepository.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/utils/AdaSensor.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/utils/AdaUtils.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/utils/MaxAggregationFormula.java no-precommit-check
sonar-ada-plugin/src/main/java/org/sonar/plugins/ada/utils/Pair.java no-precommit-check
