<div *ngIf="!project.source_dirs">
    <div class="info">This project has no source directories.</div>
</div>
<div *ngIf="project.source_dirs">
    <table class="source-dirs" *ngIf="project.source_dirs">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th class="thin text-right code-components-cell">File count</th>
                <th class="thin text-right code-components-cell">Message count</th>
                <th class="thin text-right code-components-cell">Coverage</th>
            </tr>
        </thead>
        <tbody>
            <tr class="source-dir" *ngFor="let dir of project.source_dirs | dshMapKeys; let odd = odd"
                [ngClass]="{ odd: odd, selected: isSelected(dir) }">
                <td>
                    <a [routerLink]="['.', { project: project.name, directory: dir }]" class="with-icon">
                        <md-icon class="md-18">folder_open</md-icon>
                        <span>{{ dir }}</span>
                    </a>
                </td>
                <td class="thin text-right">{{ project.source_dirs[dir] | dshSourceFileCount }}</td>
                <td class="thin text-right">N/C</td>
                <td class="thin text-right">N/C</td>
            </tr>
        </tbody>
    </table>
    <table class="sources">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th class="thin text-right code-components-cell">Lines of code</th>
                <th class="thin text-right code-components-cell">Message</th>
                <th class="thin text-right code-components-cell">Coverage</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let source of getSelectedSourceDir().sources; let odd = odd"
                [ngClass]="{ odd: odd }">
                <td>
                    <a [routerLink]="['/source', source.filename]" class="with-icon">
                        <md-icon class="md-18">insert_drive_file</md-icon>
                        <span>{{ source.filename }}</span>
                    </a>
                </td>
                <td class="thin text-right faded">&nbsp;</td>
                <td class="thin text-right faded">{{ source | dshMessageCount }}</td>
                <td class="thin text-right faded">&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>
