<span class="annotations d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
    <div class="annotations-tool d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad click"
         (click)="openClose(line)" >
        <span>
            Annotations ( {{annotations.size}} )
        </span>
        <span class="annotation-icon">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </span>
    </div>
    <div id="{{line}}" class="annotations-list d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad expand">
        <div class="annotations-list-item d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad" *ngFor="let annotation of annotations;trackBy: trackAnnotation">
            <span class="rule-identifier">
                <mat-icon class="tags" md-tooltip="Rule identifier">label</mat-icon>
                {{ annotation.rule.name }}
            </span>
            <span class="annotation-text">{{ annotation.name }}</span>

             <span class="annotation-properties" *ngIf="annotation.properties | dshNotEmpty">
                <mat-icon class="tags" md-tooltip="Annotation properties">local_offer</mat-icon>
                {{ formatAnnotationProperties(annotation) }}
            </span>
        </div>
    </div>
</span>

