<!-- Spinner animation -->
<spinner
         *ngIf="!reportService.report && !isReportFetchError"
         caption="Loading report...">
</spinner>
<!-- Error handling -->
<missing-report-error *ngIf="isReportFetchError" clas="col-lg-9 col-md-9 col-sm-8 col-xs-8 no-pad"></missing-report-error>
<!-- Report display -->
<div *ngIf="reportService.report" class="layout-page col-lg-9 col-md-9 col-sm-8 col-xs-8 no-pad">
    <main>
        <template [ngIf]="!project || !reportService.report.modules[project]">
            <h3 class="source-head">Part in progress</h3>
        </template>
    </main>
</div>
