@keyframes loader-animation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

div.spinner {
  $loader-color: #1792f3;

  margin: 60px auto 0;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border: 0.5em solid rgba($loader-color, .2);
  border-left-color: #1792f3;
  transform: translateZ(0);
  animation: loader-animation 1.1s infinite linear;

  &,
  &::after {
    border-radius: 50%;
    width: 5em;
    height: 5em;
  }
}

.caption {
  color: rgba(0, 0, 0, .5);
  display: block;
  font-size: 1.3em;
  text-align: center;
  margin: 0 auto;
  padding: 24px;
}
