.container {
  max-width: 1280px;
  margin: 0 auto;

  table {
    margin-bottom: 10px;

    &:last-child { margin-bottom: 0; }

    tr.selected { background: #fffae8; }

    th.code-components-cell {
      min-width: 180px;
      white-space: nowrap;
      padding-left: 30px;
      box-sizing: border-box;
      vertical-align: top;
      line-height: 18px;
    }
  }

  .info {
    color: #777;
    font-style: italic;

    margin: 8px;
    margin-top: 24px;
  }
}
