<div>
    <!-- Loader animation -->
    <div *ngIf="!report && !isReportFetchError">
        <loader></loader>
        <center>Loading report...</center>
    </div>
    <!-- Error handling -->
    <missing-report-error *ngIf="isReportFetchError"></missing-report-error>
    <!-- Project display -->
    <div *ngIf="report">
        <h1>Project <small>{{ project }}</small></h1>
        <table class="source-dirs">
            <thead>
                <th>Source directories</th>
                <th>Source count</th>
            </thead>
            <tbody>
                <tr class="source-dir" *ngFor="let directory of report.modules[project] | mapKeys">
                    <td>
                        <a [routerLink]="['.']" [queryParams]="{directory: directory}">{{ directory }}</a>
                    </td>
                    <td>{{ report.modules[project][directory] | count }}</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="directory">
            <table class="sources">
                <thead>
                    <th>{{ directory }}</th>
                    <th>Message count</th>
                </thead>
                <tbody>
                    <tr *ngFor="let source of report.modules[project][directory]">
                        <td><a [routerLink]="['/source', source.filename]">{{ source.filename }}</a></td>
                        <td>{{ source.message_count }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
