<div class="container">
    <!-- Spinner animation -->
    <spinner
        *ngIf="!report && !isReportFetchError"
        caption="Loading report...">
    </spinner>
    <!-- Error handling -->
    <missing-report-error *ngIf="isReportFetchError"></missing-report-error>
    <!-- Project display -->
    <div *ngIf="report">
        <h1>Project <small>{{ project }}</small></h1>
        <table class="source-dirs">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th class="thin text-right code-components-cell">File count</th>
                    <th class="thin text-right code-components-cell">Message count</th>
                    <th class="thin text-right code-components-cell">Coverage</th>
                </tr>
            </thead>
            <tbody>
                <tr class="source-dir" *ngFor="let dir of report.modules[project].source_dirs | dshMapKeys; let odd = odd"
                    [ngClass]="{ odd: odd, selected: dir == directory }">
                    <td>
                        <a [routerLink]="['.']" [queryParams]="{ directory: dir }" class="with-icon">
                            <md-icon class="md-18">folder_open</md-icon>
                            <span>{{ dir }}</span>
                        </a>
                    </td>
                    <td class="thin text-right">{{ report.modules[project].source_dirs[dir].sources | dshCount }}</td>
                    <td class="thin text-right">N/C</td>
                    <td class="thin text-right">N/C</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="!directory">
            <div class="info">Click on a source dir to display its list of source files.</div>
        </div>
        <div *ngIf="directory">
            <table class="sources">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="thin text-right code-components-cell">Lines of code</th>
                        <th class="thin text-right code-components-cell">Message count</th>
                        <th class="thin text-right code-components-cell">Coverage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let source of report.modules[project].source_dirs[directory].sources; let odd = odd"
                        [ngClass]="{ odd: odd }">
                        <td>
                            <a [routerLink]="['/source', source.filename]" class="with-icon">
                                <md-icon class="md-18">insert_drive_file</md-icon>
                                <span>{{ source.filename }}</span>
                            </a>
                        </td>
                        <td class="thin text-right">N/C</td>
                        <td class="thin text-right">{{ getMessageCount(source) }}</td>
                        <td class="thin text-right">N/C</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
