<div>
    <!-- Loader animation -->
    <div *ngIf="!report && !isReportFetchError">
        <loader></loader>
        <center>Loading report...</center>
    </div>
    <!-- Error handling -->
    <missing-report-error *ngIf="isReportFetchError"></missing-report-error>
    <!-- Report display -->
    <div *ngIf="report">
        <h1>Source list <small>{{ report.project }}</small></h1>
        <div *ngFor="let module of report.modules | mapKeys" class="module">
            <table>
                <thead>
                    <th class="module-name">{{ module }}</th>
                </thead>
                <tbody>
                    <template ngFor let-dir [ngForOf]="report.modules[module] | mapKeys">
                        <tr class="source-directory">
                            <td>{{ dir }}</td>
                        </tr>
                        <template ngFor let-source [ngForOf]="report.modules[module][dir]">
                            <tr class="source-file">
                                <td>
                                    <a [routerLink]="['/source', source.filename]">
                                        {{ source.filename }}
                                    </a>
                                </td>
                            </tr>
                        </template>
                    </template>
                </tbody>
            </table>
        </div>
    </div>
</div>
