@import '~@angular/material/core/theming/all-theme';

/* Include the base styles for Angular Material core. */
@include md-core();

$dsh-app-primary: md-palette($md-blue);
$dsh-app-accent:  md-palette($md-red);
$dsh-app-warn:    md-palette($md-deep-orange);

/* Create the theme object (a Sass map containing all of the palettes). */
$dsh-app-theme:   md-light-theme(
                $dsh-app-primary, $dsh-app-accent, $dsh-app-warn);

/* Include theme styles for core and each component used in your app. */
@include angular-material-theme($dsh-app-theme);

body {
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "kern", "liga", "clig", "calt";

  font-family: -apple-system, "Helvetica Neue", "Segoe UI", Helvetica, Arial,
               sans-serif;
  font-size: 13px;
}

h1,
h2 {
  font-weight: 300;
  margin-bottom: 16px;
}

ul li { line-height: 1.5em; }

table {
  width: 100%;
  border-spacing: 0;

  td, th {
    padding: 5px;
    line-height: 1.5em;
  }

  thead { border-bottom: 1px solid #e6e6e6; }

  th {
    color: #333;
    padding: 8px 10px;
    font-weight: bold;

    &.thin { width: 1%; }
  }

  tr {
    &.odd { background: rgba(0, 0, 0, .03); }

    td {
      padding: 5px 8px;
      line-height: 20px;
    }
  }
}

a.with-icon {
  display: flex;
  align-items: center;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    span { text-decoration: underline; }
  }

  md-icon {
    color: rgba(0, 0, 0, .5);
    margin-right: 8px;
  }
}

div.center {
  margin-left: auto;
  margin-right: auto;
}

span.verbatim {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.2rem;
  line-height: 1.5em;
  white-space: nowrap;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; width: 18px; height: 18px; }
.material-icons.md-24 { font-size: 24px; width: 24px; height: 24px; }
.material-icons.md-36 { font-size: 36px; width: 36px; height: 36px; }
.material-icons.md-48 { font-size: 48px; width: 48px; height: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
