@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "kern", "liga", "clig", "calt";

  font-family: -apple-system, "Helvetica Neue", "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 13px;
}

.layout-page {
  height: 100%;
  display: block;
}

.online-offline-tooltip {
  position: fixed;
  top: 10px;
  right: 3px;
}

/* Common styles */

label {
  font-weight: normal;
  margin-bottom: 0; // defaults to "margin-bottom: 5px"

  small { color: #777; }
}

input[type="checkbox"] {
  margin-top: 0; // defaults to "margin-top: 1px\9"
}

.odd { background: rgba(0, 0, 0, .03); }
.selected { background-color: #fff8dc; }

.center {
  margin-left: auto;
  margin-right: auto;
}

.verbatim {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.2rem;
  line-height: 1.5em;
  white-space: nowrap;
}

/* Line covered */
annotated-source.with-coverage annotated-source-line {
  &.covered td.line-number { background-color: #dbffdb; }
  &:hover.covered td.line-content { background-color: #eaffea; }

  /* Line not covered */
  &.not_covered td.line-number,
  &:hover.not_covered td.line-content {
    background-color: #fdd;
  }

  /* Line partially covered */
  &.partially_covered td.line-number,
  &:hover.partially_covered td.line-content {
    background-color: #fbe597;
  }
}

/* Material Design icons */

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; width: 18px; height: 18px; }
.material-icons.md-24 { font-size: 24px; width: 24px; height: 24px; }
.material-icons.md-36 { font-size: 36px; width: 36px; height: 36px; }
.material-icons.md-48 { font-size: 48px; width: 48px; height: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


.ngx-charts-outer.ng-trigger.ng-trigger-animationState {
  width: 100% !important;
}
svg.ngx-charts {
  padding-left: 15px;
  width: 85vw !important;
}
ngx-charts-legend.chart-legend {
  height: 400px;
}
ngx-charts-legend.chart-legend div {
  width: 10vw !important;
}
