/*
* NOTE: MainResponderComponent encapsulation strategy is set to
* ViewEncapsulation.None, meaning that the following styles apply for the whole
* application.
*/

html,
body,
.main-responder-page,
.main-responder-body {
    height: 100%; /* needed for proper layout */
    background-color: var(--main-color);
    color: var(--main-font-color);
}

body { overflow: hidden; }

.no-pad {
    padding-left: 0;
    padding-right: 0;
}

.main-responder-page {
    display: flex;
    flex-direction: column;
    font-family: "Arial";

    .main-responder-header {
        flex: 0 0 auto;
        height: 6vh;
        line-height: 6vh;
        /* background-color: #eee;
        border-bottom: 1px solid #ddd;*/
        background-color: var(--header-color);
        border-bottom: 1px solid var(--header-border);
        padding-left: 20px;

        span {
            color: black;
            font-size: 13px;
            padding: 10px;
            margin-left: 15px;
        }

        span:hover {
            border: 5px;
            background-color: var(--header-hover);
        }
    }

    .main-responder-body {
        flex: 1 1 auto;
        position: relative; /* needed to position inner content */
        overflow-y: hidden;
    }

    .filter-panel {
        height: 94vh;
        background-color: var(--header-color);
        border-right: 1px solid var(--header-border);
    }

    .main-responder-body.reduce {

        filter-panel {
            width: 55px;
        }

        .layout-page {
            width: calc(100vw - 55px);
            display: inline-block;
        }
    }
}

.filter-panel.open {
    animation-timing-function: ease-in;
    animation-duration: 2s;

    .group-button {
        padding: 15px 30px;

        .navig-button {
            padding: 5px;
            text-align: center;
        }

        input[type=radio] {
            display: none;
        }

        label {
            background-color: var(--elem-color);
        }
        label:hover, input[type=radio]:not(:checked) + label:hover {
            background-color: var(--elem-hover);
        }

        input[type=radio]:not(:checked) + label {
            opacity: 0.5;
            background-color: var(elem-unchecked);
        }
    }

    .tool-selector {
        opacity: 1;
        animation-timing-function: ease-in;
        animation-duration: 2s;
    }

}
