<div class="main-responder-page d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
    <header class="main-responder-header top d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad" role="header">
        <span class="navig-button d-inline-block col-lg-4 col-md-4 col-sm-4 col-xs-4 no-pad">
            <button [class.active]="this.reportService.page == 'message-explorer'" id="MessageButton" class="message-button"
                    [routerLink]="['./message-explorer']">
                Messages
            </button>
            <button [class.active]="this.reportService.page == 'code-explorer'" id="ProjectButton" class="project-button"
                    [routerLink]="['./code-explorer']">
                Projects
            </button>
        </span>
        <span class="navig-button project-name d-inline-block col-lg-4 col-md-4 col-sm-4 col-xs-4 no-pad">
            Project: {{reportService.projectName}}
            <span *ngIf="this.reportService.isCodepeer" >
                Run #{{reportService.codepeerCurrentRun}}
            </span>
        </span>
        <!--<span [routerLink]="['./preferences']">Preferences</span>-->
        <span class="info-button d-inline-block col-lg-4 col-md-4 col-sm-4 col-xs-4 no-pad">
            <button *ngIf="this.reportService.isCodepeer" [class.active]="this.reportService.page == 'codepeer-history'" id="HistoryButton" class="codepeer-run-info-button"
                    [routerLink]="['./codepeer-history']">
                CodePeer history
            </button>
            <button id="ErrorButton" class="error-button" (click)='showError()'>
                show error
            </button>

            <span [matTooltip]="this.reportService.isOnline ? 'Server is online' : 'Server is offline'" matTooltipClass="online-offline-tooltip" matToolTipPosition='below' class="online-offline-span" >
                <mat-icon [ngClass]="this.reportService.isOnline ? 'online': 'offline'">fiber_manual_record</mat-icon>
            </span>

        </span>
    </header>

    <section id="filterPanel" class="main-responder-body open d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
        <filter-panel *ngIf="this.reportService.page != 'codepeer-history'"  class="d-inline-block col-lg-3 col-md-3 col-sm-4 col-xs-4 no-pad"></filter-panel>
        <router-outlet></router-outlet>
    </section>
</div>
