/*
* NOTE: MainResponderComponent encapsulation strategy is set to
* ViewEncapsulation.None, meaning that the following styles apply for the whole
* application.
*/

html,
body,
.main-responder-page,
.main-responder-body {
    height: 100%; /* needed for proper layout */
    background-color: var(--main-color);
    color: var(--main-font-color);
}

body { overflow: hidden; }

.no-pad {
    padding-left: 0;
    padding-right: 0;
}

.main-responder-page {
    display: flex;
    flex-direction: column;
    font-family: "Arial";

    .main-responder-header {
        flex: 0 0 auto;
        height: 6vh;
        line-height: 6vh;
        /* background-color: #eee;
        border-bottom: 1px solid #ddd;*/
        background-color: var(--header-color);
        border-bottom: 1px solid var(--header-border);
        padding-left: 20px;

        span {
            color: black;
            font-size: 13px;
            padding: 10px;
            margin-left: 15px;
        }

        span:hover {
            border: 5px;
            background-color: var(--header-hover);
        }
    }

    .main-responder-body {
        flex: 1 1 auto;
        position: relative; /* needed to position inner content */
        overflow-y: hidden;
    }

    .filter-panel {
        height: 94vh;
        background-color: var(--header-color);
        border-right: 1px solid var(--header-border);
    }

    .main-responder-body.reduce {

        filter-panel {
            width: 55px;
        }

        .layout-page {
            width: calc(100vw - 55px);
            display: inline-block;
        }
    }
}

.filter-panel.open {
    animation-timing-function: ease-in;
    animation-duration: 2s;

    .group-button {
        padding: 15px 30px;

        .navig-button {
            padding: 5px;
            text-align: center;
        }

        input[type=radio] {
            display: none;
        }

        label {
            background-color: var(--elem-color);
        }
        label:hover, input[type=radio]:not(:checked) + label:hover {
            background-color: var(--elem-hover);
        }

        input[type=radio]:not(:checked) + label {
            opacity: 0.5;
            background-color: var(elem-unchecked);
        }
    }

    .tool-selector {
        opacity: 1;
        animation-timing-function: ease-in;
        animation-duration: 2s;
    }

}

.cdk-overlay-container {


    .cdk-global-overlay-wrapper {
        position: absolute ;
        display: inline-block;
        overflow: hidden;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    .cdk-overlay-pane, .md-dialog-container,
    cdk-focus-trap, .cdk-focus-trap-content, review-dialog {
        width: 100%;
        height: 100%;
        display: inline-block;
    }

    md-dialog-container {
        overflow: hidden;
        max-width: 100%;
    }

    review-dialog, review-history-dialog {

        display: inline-block;
        width: 100%;
        height: 100%;

        .form-back {
            background-color: rgba(0, 0, 0, .2);
            height: 100vh;
            position: absolute;
            top: 0;
            right: 0;
        }

        .form-box {
            top: calc(50% - 350px) ;
            left: calc(50% - 235px)  ;
            width: 700px;
            height: 470px;
            background-color: white;

            .form-title {
                padding-top: 20px;
                padding-bottom: 30px;
                font-size: 20px;
                text-align: center;
            }

            .form-field {
                padding-bottom: 10px;
            }


            .dialog-error {
                display: none;
            }
            .dialog-error.show {
                background-color: #b2222287;
                border-radius: 5px;
                padding: 5px 15px;
                border: 1px solid firebrick;
                margin-top: 10px;
                display: inline-block;
            }

            [md-button] {
                bottom: 10px;
                position: absolute;
                left: 10px;
            }
            [md-raised-button] {
                bottom: 10px;
                position: absolute;
                right: 10px
            }
        }
    }

    review-history-dialog {

        .title-review {
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 20px;
            text-align: center;
        }

        .all-review {
            height: calc(470px - 105px);
            overflow-y: scroll;

            .line-review {
                padding-bottom: 10px;
                border-bottom: solid 1px  rgba(0,0,0, 0.5);
                padding-top: 5px;

                .date-review {
                    color:  rgba(0,0,0, 0.5);
                }

                .author-review {
                    color: rgba(0,0,0, 0.5);
                    text-align: right;
                }

                .status-review {
                    text-align: center;
                    font-weight: bold;
                }

                .message-review {
                    text-align: justify;
                }

            }

        }
    }
}
