<div class="main-responder-page col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
    <header class="main-responder-header top col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad" role="header">
        <span [routerLink]="['./project-explorer']" class="pull-left">GNATdashboard Report</span>
        <span [routerLink]="['./about']">About</span>
    </header>

    <section id="filterPanel" class="main-responder-body open col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
        <filter-panel class="col-lg-3 col-md-3 col-sm-4 col-xs-4 no-pad"></filter-panel>
        <router-outlet></router-outlet>
    </section>
</div>
