<!-- Spinner animation -->
<spinner
         *ngIf="!reportService.message && !reportService.isReportFetchError"
         caption="Loading report...">
</spinner>
<!-- Error handling -->
<missing-report-error *ngIf="reportService.isReportFetchError" clas="col-lg-9 col-md-9 col-sm-8 col-xs-8 no-pad"></missing-report-error>
<!-- Report display -->
<div *ngIf="reportService.message" class="layout-page col-lg-9 col-md-9 col-sm-8 col-xs-8 no-pad">
    <main class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
        <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
            <span class="tab-header col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
                <span class="col-lg-3 col-md-3 col-sm-3 col-xs-3 click"
                      (click)="sortModules('projectName', 'line')" >
                    <span>Project</span>
                    <span class="header-icon"
                          *ngIf="reportService.messageFilter.newSort == 'projectName'">
                        <md-icon class="md-18" *ngIf="reportService.messageFilter.order == 1">arrow_downward</md-icon>
                        <md-icon class="md-18" *ngIf="reportService.messageFilter.order == -1">arrow_upward</md-icon>
                    </span>
                </span>
                <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 click" (click)="sortModules('name', 'filename')">
                    <span>Name</span>
                    <span class="header-icon"
                          *ngIf="reportService.messageFilter.newSort == 'name'">
                        <md-icon class="md-18" *ngIf="reportService.messageFilter.order == 1">arrow_downward</md-icon>
                        <md-icon class="md-18" *ngIf="reportService.messageFilter.order == -1">arrow_upward</md-icon>
                    </span>
                </span>
                <span class="center col-lg-3 col-md-3 col-sm-3 col-xs-3 click" (click)="sortModules('_ui_total_message_count','_total_message_count')">
                    <span>Messages</span>
                    <span class="header-icon"
                          *ngIf="reportService.messageFilter.newSort == '_ui_total_message_count'">
                        <md-icon class="md-18" *ngIf="reportService.messageFilter.order == 1">arrow_downward</md-icon>
                        <md-icon class="md-18" *ngIf="reportService.messageFilter.order == -1">arrow_upward</md-icon>
                    </span>
                </span>
            </span>
        </span>
        <span class="all-sources-line col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
            <span *ngFor="let source of reportService.message.sources"
                  class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad"
                  [ngClass]="(this.reportService.hideFiles && (source._ui_total_message_count == 0 || ( source._ui_total_message_count == null && source._total_message_count == 0))) ? 'hideIt' : ''">
                <span class="source-line col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad" (click)="openClose(source.filename)">
                    <span class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <md-icon *ngIf="!(source._ui_total_message_count == 0 || ( source._ui_total_message_count == null && source._total_message_count == 0))" class="md-18 source-tree">chevron_right</md-icon>
                        {{source.projectName}}
                    </span>
                    <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        {{source.filename}}
                    </span>
                    <span class="center col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        {{
                        source._ui_total_message_count != null ?
                        source._ui_total_message_count :
                        source._total_message_count
                        }}
                    </span>
                </span>

                <span id="{{source.filename}}" class="all-messages-line col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad open">
                    <span *ngFor="let message of source.messages"
                          class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad"
                          [ngClass]="(this.reportService.hideFiles && (message._ui_total_message_count == 0 || ( message._ui_total_message_count == null && message._total_message_count == 0)) || message.hide == false) ? 'hideIt' : ''">
                        <span class="message-line col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
                            <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-pad">
                                    {{message.line}}:{{message.col_begin}}
                                </span>
                                <span class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-pad">{{message.name}}</span>
                            </span>
                        </span>
                    </span>
                </span>
            </span>
        </span>
    </main>
</div>
