<!-- Spinner animation -->
<spinner
    *ngIf="!reportService.message && !reportService.isReportFetchError"
         caption="Loading report...">
</spinner>
<!-- Report display -->
<div *ngIf="reportService.message" class="layout-page d-inline-block col-lg-9 col-md-9 col-sm-8 col-xs-8 no-pad">
    <main class="d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
        <span class="d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
            <span class="tab-header right d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class="expand-collapse">
                    <span (click)="expandCollapseAll(true)" class="expandCollapse">expand all  </span>
                    <span> / </span>
                    <span (click)="expandCollapseAll(false)" class="expandCollapse">  collapse all</span>
                </span>

                <span class="hide-files">
                    <label class="switch">
                        <input #checkbox type="checkbox" [ngModel]="reportService.showFiles" (ngModelChange)="showFilesChanges()"/>
                        <span class="slider"></span>
                    </label>
                    <span>Show all files</span>
                </span>
            </span>
            <span class="tab-header d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
                <span class="d-inline-block col-lg-8 col-md-8 col-sm-8 col-xs-8 click" (click)="sortModules('filename', 'line')">
                    <span class="ellipsis">Name</span>
                    <span class="header-icon"
                          *ngIf="reportService.messageSort.newSort == 'filename'">
                        <mat-icon class="md-18" *ngIf="reportService.messageSort.order == 1">arrow_downward</mat-icon>
                        <mat-icon class="md-18" *ngIf="reportService.messageSort.order == -1">arrow_upward</mat-icon>
                    </span>
                </span>
                <span class="center d-inline-block col-lg-2 col-md-2 col-sm-2 col-xs-2 click"
                      (click)="sortModules('ranking','countRanking')">
                    <span class="ellipsis">Ranking</span>
                    <span class="header-icon"
                          *ngIf="reportService.messageSort.newSort == 'ranking'">
                        <mat-icon class="md-18" *ngIf="reportService.messageSort.order == 1">arrow_downward</mat-icon>
                        <mat-icon class="md-18" *ngIf="reportService.messageSort.order == -1">arrow_upward</mat-icon>
                    </span>
                </span>
                <span class="center d-inline-block col-lg-2 col-md-2 col-sm-2 col-xs-2 click"
                      (click)="sortModules('status_priority','')">
                    <span class="ellipsis">Review Status</span>
                    <span class="header-icon"
                          *ngIf="reportService.messageSort.newSort == 'status_priority'">
                        <mat-icon class="md-18" *ngIf="reportService.messageSort.order == 1">arrow_downward</mat-icon>
                        <mat-icon class="md-18" *ngIf="reportService.messageSort.order == -1">arrow_upward</mat-icon>
                    </span>
                </span>
            </span>
        </span>
        <!-- Error handling -->
        <missing-report-error *ngIf="reportService.isReportFetchError" clas="d-inline-block col-lg-9 col-md-9 col-sm-8 col-xs-8 no-pad"></missing-report-error>

        <span class="all-sources-line d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
            <span class="all-sources-line d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad"
                  *ngIf="reportService && reportService.message">
                <span *ngFor="let source of toList(reportService.message.sources);trackBy: trackSrc"
                      class=" d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad"
                      [ngClass]="(!this.reportService.showFiles && (source._ui_total_message_count == 0 || ( source._ui_total_message_count == null && source._total_message_count == 0))) ? 'hideIt' : ''">
                    <span id="{{source.filename}}" class="source-line d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad" [ngClass]="source.expand ? 'open' : 'reduce'">
                        <span class="header-line d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad" (click)="openClose(source, !source.expand)">
                            <span class="d-inline-block col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <mat-icon *ngIf="!(source._ui_total_message_count == 0 || ( source._ui_total_message_count == null && source._total_message_count == 0))" class="md-18 source-tree">chevron_right</mat-icon>
                                <span class="project-name"> {{source.projectName}}</span>
                                <span class="file-name">{{source.filename}}</span>
                            </span>
                            <span class="center d-inline-block col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <span *ngIf="source.countRanking">
                                    <span class="High">{{source.countRanking.High}}</span>
                                    <span> / </span>
                                    <span class="Medium">{{source.countRanking.Medium}}</span>
                                    <span> / </span>
                                    <span class="Low">{{source.countRanking.Low}} </span>
                                    <span>
                                         ({{
                                        source._ui_total_message_count != null ?
                                        source._ui_total_message_count :
                                        source._total_message_count
                                        }})
                                    </span>
                                </span>
                            </span>
                        </span>

                        <span class="all-messages-line d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad"
                              *ngIf="source">
                            <span *ngFor="let message of source.messages;trackBy: trackMsg"
                                  class="d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad"
                                  [ngClass]="(!this.reportService.showFiles && (message._ui_total_message_count == 0 || ( message._ui_total_message_count == null && message._total_message_count == 0)) || message.hide == false) ? 'hideIt' : ''">
                                <span class="message-line d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad"
                                      [routerLink]="['/source', source.filename, { line: message.line, id: message.id }]"
                                      [ngClass]="message.ranking.name + ' ' + message.tool + ' ' + (message.user_review ? message.user_review.status_kind : '' )">
                                    <span class="d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
                                        <span class="d-inline-block col-lg-1 col-md-1 col-sm-2 col-xs-2">
                                            {{message.line}}:{{message.col_begin}}
                                        </span>
                                        <span class="d-inline-block col-lg-7 col-md-7 col-sm-7 col-xs-7">{{message.name}}</span>
                                        <span class="d-inline-block col-lg-2 col-md-2 col-sm-2 col-xs-2 ranking ellipsis">
                                            {{ message.ranking.name }}
                                        </span>
                                        <span class="center d-inline-block col-lg-2 col-md-2 col-sm-2 col-xs-2 review ellipsis">
                                            {{message.user_review ? message.user_review.display_name : 'Uncategorized'}}
                                        </span>

                                    </span>
                                </span>
                            </span>
                        </span>
                    </span>
                </span>
                <span class="info-span d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="reportService.totalMessageCount == 0"> There are no messages corresponding to the selected filters</span>
            </span>
        </span>
    </main>
</div>
