.layout-page {
    display: inline-block;

    .info-span {
        color: grey;
        font-size: 15px;
        text-align: center;
        width: 100%;
        padding-top: 10px;
    }

    main {
        height: 100%;
        /*overflow: auto;*/

        .center {
            text-align: center;
        }
        .hideIt {
            display: none;
        }

        .tab-header {
            background-color: #f8f8f8;
            border: solid 1px #eee;
            font-size: 14px;
            text-align: left;

            .expandCollapse {
                padding-top: 5px;
                padding-bottom: 5px;
                display: inline-block;
            }
            .expandCollapse:hover {
                text-decoration: underline;
                cursor: pointer;
            }

            .click {
                padding-top: 5px;
                padding-bottom: 5px;
            }
            .click:hover {
                background-color: rgba(0,0,0,0.05);
                cursor: pointer;
            }

            .header-icon {
                margin: 1px;
                position: absolute;
            }
        }

        .all-sources-line {
            height: calc(100% - 34px);
            overflow: auto;

            .header-line {
                padding-bottom: 2px;
                padding-top: 2px;
                text-align: left;

                .project-name {
                    color: grey;
                    padding-left: 5px;
                }
                .file-name {
                    font-weight: bold;
                }
            }
            .header-line:hover {
                background-color: rgba(0,0,0,0.025);
                cursor: pointer;
            }

            .source-tree {
                position: absolute;
                left: -1px;
                top: 0px;
            }
            .source-line.open .source-tree {
                transform: rotate(90deg);
            }

            .all-messages-line {
                .message-line {
                    background-color: rgba(0, 0, 0, .05);
                    padding: 2px 0px;
                    margin-bottom: 1px;
                }
                .message-line:hover {
                    background-color: rgba(0,0,0,0.075);
                    cursor: pointer;
                }

                .message-tree {
                    position: absolute;
                    left: -5px;
                    top: -1px;
                }
            }

            .source-line.reduce .all-messages-line {
                height: 0px;
                display: none
            }
            .source-line.open .all-messages-line {
                height: 100%;
                display: inline-block;
            }

        }
    }
}
