.codepeer-history {

    .change-section-button {
        position: fixed;
        right: 20px;
        top: 55px;
        width: 130px;
        background-color: rgb(241, 241, 241);
        padding: 5px;
        text-align: center;
        border-radius: 5px;
        z-index: 1;

        button {
            margin-bottom: 2px;
            text-align: center;
            background-color: var(--elem-color);
            border: 1px #C4c4c5 solid;
            padding: 5px;
            border-radius: 5px;
            line-height: normal;
        }
    }

    span.run-filter, span.date-filter {
        span {
            padding: 10px 10px;
            background-color: #f1f1f1;
            border-radius: 2px;

            input {
                border: 1px #C4c4c5 solid;
                border-radius: 2px;
                padding: 0px 5px;
            }

            input[type=number]{
                width: 150px;
                padding-top: 1px;
                padding-bottom: 1px;
            }

            button {
                text-align: center;
                background-color: var(--elem-color);
                border: 1px #C4c4c5 solid;
                padding: 1px 5px 2px;
                border-radius: 2px;
                line-height: normal;
            }
        }
    }

    table {
        float: inherit;
        overflow-wrap: break-word;
        margin-bottom: 30px;
    }

    th {
        float: inherit !important;
    }

    tr {
        float: inherit;
    }

    tr.run1 {
        background-color: var(--medium-shade);

        th span.high {
            background-color: var(--High-hover);
        }
        th span.medium {
            background-color: var(--Medium-hover);
        }
        th span.low {
            background-color: var(--Low-hover);
        }
    }

    tr.run2 {
        background-color: var(--light-shade);

        th span.high {
            background-color: var(--High);
        }
        th span.medium {
            background-color: var(--Medium);
        }
        th span.low {
            background-color: var(--Low);
        }
    }

    tr.selected {
        background-color: #b6f5b8;
    }

    tr span {
        text-align: center;
    }

    .header {
        text-align: center;
        border-bottom: 1px solid black;
        background-color: gainsboro;
    }
}

.layout-page {
    overflow-y: scroll;
}

.codepeer-history-title {
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
}

.all-codepeer-info {

    .line-review, .line-codepeer-info {
        padding: 5px 10px;
        margin: 6px 0px;
        border-radius: 5px;
        background-color: rgba(0,0,0, 0.05);

        .date-review {
            color:  rgba(0,0,0, 0.5);
        }

        .author-review {
            color: rgba(0,0,0, 0.5);
            text-align: right;
        }

        .status-review {
            text-align: center;
            font-weight: bold;
        }

        .message-review {
            text-align: justify;
        }
    }
}
