main-responder {
  display: block;

  & h1 {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 300;
  }

  & gnathub-blob,
  & annotated-source,
  & trace-list,
  & about {
    display: block;
    padding: 10px;
  }
}
