<div>
    <div *ngIf="!report">Loading report...</div>
    <div *ngIf="report">
        <h4>Execution summary</h4>
        <p>
            Found {{ getTraceFileCount() }} execution trace file(s) generated for
            {{ getProgramCount() }} program(s)
        </p>
        <h4>Programs</h4>
        <ul>
            <li *ngFor="let program of programs">
                <a [routerLink]="['../traces']" [queryParams]="{ program: encodePath(program) }">
                    <tt>{{ program }}</tt>
                </a>
            </li>
        </ul>

        <div *ngIf="program" class="file-table">
            <h4>{{ program }}</h4>
            <table>
                <thead>
                    <tr>
                        <td>Filename</td>
                        <td>Date</td>
                        <td>Tag</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let trace of traces[program]">
                        <td>{{ trace.filename }}</td>
                        <td>{{ trace.gen_date }}</td>
                        <td>{{ trace.tag }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
