<div *ngIf="!project.source_dirs">
    <div class="info">This project has no source directories.</div>
</div>
<div *ngIf="project.source_dirs">
    <table class="source-dirs" *ngIf="project.source_dirs">
        <thead>
            <tr>
                <th class="thin text-left code-components-cell click" (click)="sortPath('path', '', 0)">
                    <span>Path</span>
                    <span *ngIf="pathsFilter.newSort == 'path'">
                        <md-icon class="md-18" *ngIf="pathsFilter.order == 1">arrow_downward</md-icon>
                        <md-icon class="md-18" *ngIf="pathsFilter.order == -1">arrow_upward</md-icon>
                    </span>
                </th>
                <th class="thin text-right code-components-cell">
                    <span>Files</span>
                </th>
                <th class="thin text-right code-components-cell click" (click)="sortPath('_ui_total_message_count','_total_message_count', 0)">
                    <span>Messages</span>
                    <span *ngIf="pathsFilter.newSort == '_ui_total_message_count'">
                        <md-icon class="md-18" *ngIf="pathsFilter.order == 1">arrow_downward</md-icon>
                        <md-icon class="md-18" *ngIf="pathsFilter.order == -1">arrow_upward</md-icon>
                    </span>
                </th>
                <th class="thin text-right code-components-cell" *ngIf="project.coverage">
                    Coverage
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="source-dir" *ngFor="let dir of project.showed_dirs"
                [ngClass]="{ selected: dir == currentSourceDir?.path }">
                <td>
                    <a [routerLink]="['.', { project: project.name, directory: dir.path }]" class="with-icon">
                        <md-icon class="md-18">folder_open</md-icon>
                        <span>{{ dir.path }}</span>
                    </a>
                </td>
                <td class="thin text-right faded">{{ project.source_dirs[dir.path] | dshSourceFileCount }}</td>
                <td class="thin text-right faded">
                    {{
                    dir._ui_total_message_count != null ?
                    dir._ui_total_message_count :
                    dir._total_message_count
                    }}
                </td>
                <td class="thin text-right faded" *ngIf="project.coverage">
                    <template [ngIf]="dir.coverage">
                        {{ dir.coverage }}%
                    </template>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="sources">
        <thead>
            <tr>
                <th class="thin text-left code-components-cell click" (click)="sortFiles('filename', '', 0)">
                    <span>Files names</span>
                    <span *ngIf="filesFilter.newSort == 'filename'">
                        <md-icon class="md-18" *ngIf="filesFilter.order == 1">arrow_downward</md-icon>
                        <md-icon class="md-18" *ngIf="filesFilter.order == -1">arrow_upward</md-icon>
                    </span>
                </th>
                <th class="thin text-right code-components-cell click" (click)="sortFiles('_ui_total_message_count', '_total_message_count', 0)">
                    <span>Messages</span>
                    <span *ngIf="filesFilter.newSort == '_ui_total_message_count'">
                        <md-icon class="md-18" *ngIf="filesFilter.order == 1">arrow_downward</md-icon>
                        <md-icon class="md-18" *ngIf="filesFilter.order == -1">arrow_upward</md-icon>
                    </span>
                </th>
                <th class="thin text-right code-components-cell click" *ngIf="currentSourceDir?.coverage" (click)="sortFiles('coverage', '', 0)">
                    <span>Coverage</span>
                    <span *ngIf="filesFilter.newSort == 'coverage'">
                        <md-icon class="md-18" *ngIf="filesFilter.order == 1">arrow_downward</md-icon>
                        <md-icon class="md-18" *ngIf="filesFilter.order == -1">arrow_upward</md-icon>
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let source of currentSourceDir?.showed_sources">
                <td>
                    <a [routerLink]="['/source', source.filename]" class="with-icon">
                        <md-icon class="md-18">insert_drive_file</md-icon>
                        <span>{{ source.filename }}</span>
                    </a>
                </td>
                <td class="thin text-right faded">
                    {{
                    source._ui_total_message_count != null ?
                    source._ui_total_message_count : source._total_message_count
                    }}
                </td>
                <td class="thin text-right faded" *ngIf="currentSourceDir?.coverage">
                    <template [ngIf]="source.coverage">
                        {{ source.coverage }}%
                    </template>
                </td>
            </tr>
        </tbody>
    </table>
</div>
