.layout-page {
    display: inline-block;

    main {
        height: 100%;
        /*overflow: auto;*/

        .center {
            text-align: center;
        }
        .hideIt {
            display: none;
        }

        .tab-header {
            background-color: #f8f8f8;
            border: solid 1px #eee;
            font-size: 14px;
            text-align: left;

            .click {
                padding-top: 5px;
                padding-bottom: 5px;
            }
            .click:hover {
                background-color: rgba(0,0,0,0.05);
                cursor: pointer;
            }

            .header-icon {
                margin: 1px;
                position: absolute;
            }
        }

        .all-projects-line {
            height: calc(100% - 34px);
            overflow: auto;

            .project-line {
                padding-bottom: 2px;
                padding-top: 2px;
                text-align: left;
            }
            .project-line:hover {
                background-color: rgba(0,0,0,0.025);
                cursor: pointer;
            }

            .project-tree {
                position: absolute;
                left: 0px;
                top: -1px;
            }

            .all-folders-line {
                .folder-line {
                    background-color: rgba(0,0,0,0.05);
                }
                .folder-line:hover {
                    background-color: rgba(0,0,0,0.075);
                    cursor: pointer;
                }

                .folder-tree {
                    position: absolute;
                    left: -5px;
                    top: -1px;
                }

                .all-files-line {
                    .file-line {
                        background-color: rgba(0,0,0,0.1);
                    }
                    .file-line:hover {
                        background-color: rgba(0,0,0,0.125);
                        cursor: pointer;
                    }

                    .file-tree {
                        position: absolute;
                        left: -5px;
                        top: -1px;
                    }
                }
            }

            .reduce {
                height: 0px;
                display: none
            }
            .open {
                height: 100%;
                display: inline-block;
            }

        }
    }
}
