<!-- Spinner animation -->
<spinner
    *ngIf="!report && !isReportFetchError"
    caption="Loading report...">
</spinner>
<!-- Error handling -->
<missing-report-error *ngIf="isReportFetchError"></missing-report-error>
<!-- Report display -->
<div *ngIf="report" class="layout-page">
    <nav>
        <h3 class="source-head">Filters</h3>
        <div class="option-selectors">
            <!-- Tool selector -->
            <option-selector
                class="tool-selector" title="Tools"
                *ngIf="report.tools | dshNotEmpty"
                [options]="report.tools | dshMapValues"
                [optionCount]="toolMessageCount">
            </option-selector>
            <!-- Rule selector -->
            <option-selector
                class="rule-selector" title="Rules"
                *ngIf="report.rules | dshNotEmpty"
                [options]="report.rules | dshMapValues"
                [optionCount]="ruleMessageCount">
            </option-selector>
            <!-- Property selector -->
            <option-selector
                class="property-selector" title="Properties"
                *ngIf="report.properties | dshNotEmpty"
                [options]="report.properties | dshMapValues"
                [optionCount]="propertyMessageCount">
            </option-selector>
        </div>
    </nav>
    <main>
        <template [ngIf]="!project || !report.modules[project]">
            <h3 class="source-head">All Projects</h3>
            <table>
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="thin text-right code-components-cell">Directories</th>
                        <th class="thin text-right code-components-cell">Messages</th>
                        <th class="thin text-right code-components-cell" *ngIf="report.modules.coverage">
                            Coverage
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let project of report.modules | dshMapKeys | dshNaturalSort">
                        <td>
                            <a [routerLink]="['.', { project: project }]" class="with-icon">
                                <md-icon class="md-18">developer_board</md-icon>
                                <span>{{ project }}</span>
                            </a>
                        </td>
                        <td class="thin text-right faded">{{ report.modules[project].source_dirs | dshCount }}</td>
                        <td class="thin text-right faded">{{ report.modules[project] | dshMessageCount }}</td>
                        <td class="thin text-right faded" *ngIf="report.modules.coverage">
                            <template [ngIf]="report.modules[project].coverage">
                                {{ report.modules[project].coverage }}%
                            </template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </template>
        <template [ngIf]="project && report.modules[project]">
            <h3 class="source-head">
                <a [routerLink]="['.', {}]">All Projects</a>
                <span class="path-divider">/</span>
                <strong>{{ project }}</strong>
            </h3>
            <project-source-list
                *ngIf="project && report.modules[project]"
                [project]="report.modules[project]" [directory]="directory">
            </project-source-list>
        </template>
    </main>
</div>