<div *ngIf="!project.source_dirs">
    <div class="info">This project has no source directories.</div>
</div>
<div *ngIf="project.source_dirs">
    <table class="source-dirs" *ngIf="project.source_dirs">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th class="thin text-right code-components-cell">Files</th>
                <th class="thin text-right code-components-cell">Messages</th>
                <th class="thin text-right code-components-cell" *ngIf="project.coverage">
                    Coverage
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="source-dir" *ngFor="let dir of project.source_dirs | dshMapKeys | dshStringNaturalSort"
                [ngClass]="{ selected: dir == currentSourceDir?.path }">
                <td>
                    <a [routerLink]="['.', { project: project.name, directory: dir }]" class="with-icon">
                        <md-icon class="md-18">folder_open</md-icon>
                        <span>{{ dir }}</span>
                    </a>
                </td>
                <td class="thin text-right faded">{{ project.source_dirs[dir] | dshSourceFileCount }}</td>
                <td class="thin text-right faded">
                    {{
                        project.source_dirs[dir]._ui_total_message_count != null ?
                            project.source_dirs[dir]._ui_total_message_count :
                            project.source_dirs[dir]._total_message_count
                    }}
                </td>
                <td class="thin text-right faded" *ngIf="project.coverage">
                    <template [ngIf]="project.source_dirs[dir].coverage">
                        {{ project.source_dirs[dir].coverage }}%
                    </template>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="sources">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th class="thin text-right code-components-cell">Messages</th>
                <th class="thin text-right code-components-cell" *ngIf="currentSourceDir?.coverage">
                    Coverage
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let source of currentSourceDir?.sources | dshSourceNaturalSort">
                <td>
                    <a [routerLink]="['/source', source.filename]" class="with-icon">
                        <md-icon class="md-18">insert_drive_file</md-icon>
                        <span>{{ source.filename }}</span>
                    </a>
                </td>
                <td class="thin text-right faded">
                    {{
                        source._ui_total_message_count != null ?
                            source._ui_total_message_count : source._total_message_count
                    }}
                </td>
                <td class="thin text-right faded" *ngIf="currentSourceDir?.coverage">
                    <template [ngIf]="source.coverage">
                        {{ source.coverage }}%
                    </template>
                </td>
            </tr>
        </tbody>
    </table>
</div>
