<table class="file-line-container d-inline-block col-lg-12 col-sm-12 col-md-12 col-xs-12 no-pad">
    <tbody class="d-inline-block col-lg-12 col-sm-12 col-md-12 col-xs-12 no-pad">
        <ng-template ngFor let-line [ngForOf]="lines" [ngForTrackBy]="trackLine" class="d-inline-block col-lg-12 col-sm-12 col-md-12 col-xs-12 no-pad">
            <annotated-source-line id="L{{ line.number }}"
                                   class="d-inline-block col-lg-12 col-sm-12 col-md-12 col-xs-12 no-pad"
                                   [ngClass]="{ selected: source.selectedLine == line.number }"
                                   [line]="line"
                                   [coverage]="coverage[line.number]">
            </annotated-source-line>
            <span class="inline-comments d-inline-block col-lg-12 col-sm-12 col-md-12 col-xs-12"
                  *ngIf="displayMessages && inlineAnnotations[line.number]">
                <inline-annotations class="d-inline-block col-lg-12 col-sm-12 col-md-12 col-xs-12 no-pad"
                                    [annotations]="inlineAnnotations[line.number]"
                                    [line]="line.number"
                                    *ngIf="inlineAnnotations[line.number]">
                </inline-annotations>

            </span>
        </ng-template>
    </tbody>
</table>
