:host {
  display: block;
  padding: 1ch 0;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

table.file-line-container {
  display: inline-block;
}

.inline-comments {
      padding: 1px 1%;
}
