<div class="layout-page d-inline-block col-lg-9 col-md-9 col-sm-8 col-xs-8 no-pad">
    <!-- Annotated source -->
    <div class="annotated-source-body d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
        <nav class="file-header d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
            <span class="d-inline-block col-lg-8 col-md-8 col-sm-8 col-xs-8 no-pad">
                <span class="folder-span">{{ source.source_dir }}</span>
                <span class="path-divider">/</span>
                <strong>{{ source.filename }}</strong>
            </span>

            <span *ngIf="reportService.isAnnotations" class="annotation-switch d-inline-block col-lg-4 col-md-4 col-sm-4 col-xs-4 no-pad">
                <span class="hide-files">
                    <label class="switch">
                        <input #checkbox type="checkbox" [ngModel]="reportService.showAnnotations" (ngModelChange)="showAnnotationsChanges()"/>
                        <span class="slider"></span>
                    </label>
                    <span>Show annotations</span>
                </span>
            </span>
        </nav>
        <main #scrollView class="scrollable-content d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12" [ngClass]="showMessageList ? 'expanded' : 'reduce'">
            <div class="missing-file-content" *ngIf="!source.lines">
                <h4>Missing file content</h4>
                <p>
                    This is most likely due to an error during the HTML report
                    generation.
                </p>
            </div>
            <div class="file" *ngIf="source.lines">
                <annotated-source-content
                                          [lines]="source.lines"
                                          [tools]="source.tools"
                                          [coverage]="source.coverage"
                                          [inlineAnnotations]="inlineAnnotations"
                                          [displayMessages]="displayMessages">
                </annotated-source-content>
            </div>
        </main>
    </div>
    <footer class="layout-page-footer location-view d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad" *ngIf="displayMessages">
        <div class="location-view-flex d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
            <div class="location-view-header d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
                <button class="location-view-title" (click)="tabOpen = 'metric'" [ngClass]="tabOpen == 'metric' ? 'selected': ''" *ngIf="source.metrics">
                    <span>File Metrics</span>
                </button>
                <button class="location-view-title" (click)="tabOpen = 'race'" [ngClass]="tabOpen == 'race' ? 'selected': ''" *ngIf="this.reportService.showRace">
                    <span>Race Condition</span>
                </button>
                <button class="location-view-title" (click)="tabOpen = 'message'; thisFile = true" [ngClass]="tabOpen == 'message' ? 'selected': ''">
                    <span>File Messages</span>
                </button>
                <button class="location-view-title" (click)="tabOpen = 'messages'; thisFile = false" [ngClass]="tabOpen == 'messages' ? 'selected': ''">
                    <span>All Messages</span>
                </button>
                <button id="ErrorButton" class="location-view-refresh-btn" (click)='reportService.refreshUserReview()'>
                    <span>Refresh reviews</span>
                </button>
                <button *ngIf="reportService.isOnline" (click)="writeReview()" class="location-view-review-btn" [disabled]="!checkedMsg || checkedMsg.length == 0 || tabOpen != 'message'">
                    <span>Add review</span>
                </button>
                <button class="location-view-collapse-btn"
                        [matTooltip]="showMessageList ? 'Hide' : 'Show'"
                        matTooltipPosition="left"
                        (click)="showMessageList = !showMessageList">
                    <mat-icon class="md-18" [ngClass]="{ expanded: showMessageList }">
                        keyboard_arrow_down
                    </mat-icon>
                </button>
            </div>
            <div *ngIf="tabOpen != 'metric' && tabOpen != 'race'" class="location-view-sort d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
                <span class="d-inline-block col-lg-1 col-md-1 col-sm-1 col-xs-1 click no-pad" (click)="sortModules('line', '')">
                    <span class="ellipsis">{{tabOpen == 'message' ? 'Line' : 'Name'}}</span>
                    <span class="header-icon"
                          *ngIf="reportService.messageSort.newSort == 'line'">
                        <mat-icon class="md-18" *ngIf="reportService.messageSort.order == 1">arrow_downward</mat-icon>
                        <mat-icon class="md-18" *ngIf="reportService.messageSort.order == -1">arrow_upward</mat-icon>
                    </span>
                </span>
                <span class="d-inline-block col-lg-1 col-md-1 col-sm-1 col-xs-1 click no-pad"
                      (click)="sortModules('ranking','countRanking')">
                    <span class="ellipsis">Ranking</span>
                    <span class="header-icon"
                          *ngIf="reportService.messageSort.newSort == 'ranking'">
                        <mat-icon class="md-18" *ngIf="reportService.messageSort.order == 1">arrow_downward</mat-icon>
                        <mat-icon class="md-18" *ngIf="reportService.messageSort.order == -1">arrow_upward</mat-icon>
                    </span>
                </span>
                <span class="d-inline-block col-lg-8 col-md-8 col-sm-8 col-xs-8 no-pad" >
                </span>
                <span class="d-inline-block col-lg-2 col-md-2 col-sm-2 col-xs-2 click"
                      (click)="sortModules('status_priority','')">
                    <span class="ellipsis">Review Status</span>
                    <span class="header-icon"
                          *ngIf="reportService.messageSort.newSort == 'status_priority'">
                        <mat-icon class="md-18" *ngIf="reportService.messageSort.order == 1">arrow_downward</mat-icon>
                        <mat-icon class="md-18" *ngIf="reportService.messageSort.order == -1">arrow_upward</mat-icon>
                    </span>
                </span>
            </div>
            <div *ngIf="tabOpen == 'race'" class="location-view-sort d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
                <span class="d-inline-block col-lg-3 col-md-3 col-sm-3 col-xs-3 no-pad">
                    <span class="ellipsis">Object</span>
                </span>
                <span class="d-inline-block col-lg-9 col-md-9 col-sm-9 col-xs-9 no-pad">
                    <span class="click col-lg-4 col-md-4 col-sm-4 col-xs-4" (click)="sortRace('entry_point')">
                        <span class="ellipsis">Entry point</span>
                        <span class="header-icon"
                          *ngIf="raceSort.value == 'entry_point'">
                            <mat-icon class="md-18" *ngIf="raceSort.order == -1">arrow_downward</mat-icon>
                            <mat-icon class="md-18" *ngIf="raceSort.order == 1">arrow_upward</mat-icon>
                        </span>
                    </span>
                    <span class="click ellipsis col-lg-3 col-md-3 col-sm-2 col-xs-2" (click)="sortRace('location')">
                    <span class="ellipsis">Location</span>
                        <span class="header-icon"
                          *ngIf="raceSort.value == 'location'">
                            <mat-icon class="md-18" *ngIf="raceSort.order == -1">arrow_downward</mat-icon>
                            <mat-icon class="md-18" *ngIf="raceSort.order == 1">arrow_upward</mat-icon>
                        </span>
                    </span>
                    <span class="click ellipsis col-lg-1 col-md-1 col-sm-2 col-xs-2" (click)="sortRace('access')">
                        <span class="ellipsis">Access</span>
                        <span class="header-icon"
                          *ngIf="raceSort.value == 'access'">
                            <mat-icon class="md-18" *ngIf="raceSort.order == -1">arrow_downward</mat-icon>
                            <mat-icon class="md-18" *ngIf="raceSort.order == 1">arrow_upward</mat-icon>
                        </span>
                    </span>
                    <span class="click ellipsis col-lg-2 col-md-2 col-sm-2 col-xs-2" (click)="sortRace('err_kind')">
                        <span class="ellipsis">Error</span>
                        <span class="header-icon"
                          *ngIf="raceSort.value == 'err_kind'">
                            <mat-icon class="md-18" *ngIf="raceSort.order == -1">arrow_downward</mat-icon>
                            <mat-icon class="md-18" *ngIf="raceSort.order == 1">arrow_upward</mat-icon>
                        </span>
                    </span>
                    <span class="click ellipsis col-lg-2 col-md-2 col-sm-2 col-xs-2" (click)="sortRace('lock_name')">
                        <span class="ellipsis">Locks</span>
                        <span class="header-icon"
                          *ngIf="raceSort.value == 'lock_name'">
                            <mat-icon class="md-18" *ngIf="raceSort.order == -1">arrow_downward</mat-icon>
                            <mat-icon class="md-18" *ngIf="raceSort.order == 1">arrow_upward</mat-icon>
                        </span>
                    </span>
                </span>
            </div>

            <div class="location-view-list whole-pannel d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad" [ngClass]="showMessageList ? 'expanded' : 'reduce'">
                <table *ngIf="tabOpen == 'metric'" class="file-line-container d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span *ngIf="source.metrics && source.metrics.length > 0">
                        <tbody *ngFor="let metric of source.metrics; let idx = index" [attr.data-index]="idx" class="d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad" [ngClass]="idx % 2 == 0 ? 'metric1' : 'metric2'">
                            <span class="d-inline-block col-lg-6 col-md-6 col-sm-6 col-xs-6 ">{{metric.rule.name}}</span>
                            <span class="d-inline-block col-lg-6 col-md-6 col-sm-6 col-xs-6 ">{{metric.value}}</span>
                        </tbody>
                    </span>
                    <span class="info-span d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="source.metrics.length == 0">
                        No metrics for this file.
                    </span>
                </table>

                <table *ngIf="tabOpen == 'race'" class="race-condition file-line-container d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
                    <span *ngIf="reportService.raceCondition"
                          class="no-pad d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                        <span class="race-condition-name col-lg-3 col-md-3 col-sm-3 col-xs-3 no-pad">
                            <tbody *ngFor="let race of reportService.raceCondition | keyvalue; let idx = index" [attr.data-index]="idx" class="click d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12  no-pad" [ngClass]="raceSelected == race.key ? 'selected' : (idx % 2 == 0 ? 'metric1' : 'metric2')">
                                <span class="wrap no-pad d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12" (click)="raceEntry = race.value; raceSelected = race.key; raceSort = {}">
                                    {{race.key}}
                                </span>
                            </tbody>
                        </span>
                        <span class="race_condition_access col-lg-9 col-md-9 col-sm-9 col-xs-9 no-pad">
                            <tbody *ngFor="let entry of raceEntry; let idx = index" [attr.data-index]="idx" class="no-pad d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12  no-pad click" [ngClass]="idx % 2 == 0 ? 'metric1' : 'metric2'"
                                   [routerLink]="['/source', entry.file, { line: entry.line }]">
                                <span class="wrap no-pad d-inline-block col-lg-4 col-md-4 col-sm-4 col-xs-4" >
                                    {{entry.entry_point}}
                                </span>
                                <span class=" wrap no-pad d-inline-block col-lg-3 col-md-3 col-sm-2 col-xs-2" >
                                    {{entry.file}}:{{entry.line}}
                                </span>
                                <span class=" wrap no-pad d-inline-block col-lg-1 col-md-1 col-sm-2 col-xs-2" >
                                    {{entry.access.replace(' access', '')}}
                                </span>
                                <span class=" wrap no-pad d-inline-block col-lg-2 col-md-2 col-sm-2 col-xs-2" >
                                    {{entry.err_kind}}
                                </span>
                                <span class=" wrap no-pad d-inline-block col-lg-2 col-md-2 col-sm-2 col-xs-2" >
                                     {{entry.lock_name}}
                                </span>
                            </tbody>
                        </span>
                    </span>
                </table>


                <table *ngIf="tabOpen == 'message'" class="file-line-container d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
                    <span *ngIf="reportService.message" class="all-sources-line d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">

                        <span *ngFor="let mySource of reportService.message.sources;trackBy: trackSrc"
                              class=" d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad"
                              [ngClass]="mySource.filename === source.filename ? '' : 'hideIt'">
                            <span id="{{mySource.filename}}" class="all-messages-line d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad open" *ngIf="mySource && (mySource._total_message_count > 0 || !mySource._total_message_count)" >
                                <span *ngFor="let message of mySource.messages;trackBy: trackMsg"
                                      class="d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad"
                                      [ngClass]="(!this.reportService.showFiles && (message._ui_total_message_count == 0 || ( message._ui_total_message_count == null && message._total_message_count == 0)) || message.hide == false) || (!reportService.showReviews && !message.user_review) ? 'hideIt' : ''">
                                    <span class="message-line d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad"
                                          [ngClass]="(selectedMsg.indexOf(message.id) != -1 ? 'selected' : '') + ' ' + message.tool"
                                          (click)="selectMessage(message, $event)">
                                        <span class="d-inline-block col-lg-1 col-md-1 col-sm-1 col-xs-1 no-pad">
                                            {{message.line}}:{{message.col_begin}}
                                        </span>
                                        <span class="d-inline-block col-lg-1 col-md-1 col-sm-1 col-xs-1 no-pad ellipsis" [ngClass]="message.ranking.name">
                                            {{message.ranking.name}}
                                        </span>
                                        <span class="d-inline-block col-lg-8 col-md-8 col-sm-8 col-xs-8 no-pad" >
                                            {{message.name}}
                                        </span>
                                        <span class="user-review d-inline-block col-lg-2 col-md-2 col-sm-2 col-xs-2 no-pad" >
                                            <span class="d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad" [ngClass]="message.user_review ? message.user_review.status_kind : ''">
                                                {{message.user_review ? message.user_review.display_name : 'Uncategorized'}}
                                            </span>

                                            <span  class="review-history d-inline-block" *ngIf="message.review_history" >
                                                <span [ngClass]="message.review_history.length == 0 ? 'inactive' : ''" class="history-span"
                                                      (click)="ShowReviewHistory(message)">
                                                    <mat-icon>history</mat-icon>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                            <span class="info-span d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="mySource.filename === source.filename && mySource._ui_total_message_count === 0"> There are no messages corresponding to the selected filters </span>
                        </span>
                    </span>
                </table>

                <table *ngIf="tabOpen == 'messages'" class="file-line-container d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
                    <span class="all-sources-line d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad"
                          *ngIf="reportService.message && reportService.message._ui_total_message_count > 0 || !reportService.message._ui_total_message_count">

                        <span *ngFor="let mySource of reportService.message.sources;trackBy: trackSrc"
                              class=" d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad"
                              [ngClass]="(!this.reportService.showFiles && (mySource._ui_total_message_count == 0 || ( mySource._ui_total_message_count == null && mySource._total_message_count == 0))) ? 'hideIt' : ''">
                            <span id="{{mySource.filename}}" class="source-line d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad open">
                                <span class="header-line d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad" (click)="openClose(mySource.filename)">
                                    <span class="d-inline-block col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <span *ngIf="!(mySource._ui_total_message_count == 0 || ( mySource._ui_total_message_count == null && mySource._total_message_count == 0))">
                                            <mat-icon  class="md-18 source-tree">chevron_right</mat-icon>
                                        </span>
                                        <span class="project-name"> {{mySource.projectName}} </span>
                                        <span class="file-name">{{mySource.filename}}</span>
                                    </span>
                                    <span class="center d-inline-block col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        {{
                                        mySource._ui_total_message_count != null ?
                                        mySource._ui_total_message_count :
                                        mySource._total_message_count
                                        }} message{{(mySource._ui_total_message_count != null && mySource._ui_total_message_count > 1) ? 's' : '' }}
                                    </span>
                                </span>

                                <span class="all-messages-line d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad"
                                      *ngIf="mySource">
                                    <span *ngFor="let message of mySource.messages;trackBy: trackMsg"
                                          class="d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad"
                                          [ngClass]="(!this.reportService.showFiles && (message._ui_total_message_count == 0 || ( message._ui_total_message_count == null && message._total_message_count == 0)) || message.hide == false) ? 'hideIt' : ''">
                                        <span class="message-line d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad"   [ngClass]="((selectedLine == message.line && source.filename == mySource.filename) ? 'selected': '') + ' ' + message.tool"
                                              [routerLink]="['/source', mySource.filename, { line: message.line, id: message.id }]">
                                            <span class="d-inline-block col-lg-1 col-md-1 col-sm-1 col-xs-1 no-pad">
                                                {{message.line}}:{{message.col_begin}}
                                            </span>
                                            <span class="d-inline-block col-lg-1 col-md-1 col-sm-1 col-xs-1 no-pad ellipsis" [ngClass]="message.ranking.name">
                                                {{message.ranking.name}}
                                            </span>
                                            <span class="d-inline-block col-lg-8 col-md-8 col-sm-8 col-xs-8 no-pad" >
                                                {{message.name}}
                                            </span>
                                            <span class="user-review d-inline-block col-lg-2 col-md-2 col-sm-2 col-xs-2 no-pad" >
                                                <span class="d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad" [ngClass]="message.user_review ? message.user_review.status_kind : ''">
                                                    {{message.user_review ? message.user_review.display_name : 'Uncategorized'}}
                                                </span>

                                                <span  class="review-history d-inline-block" *ngIf="message.review_history" >
                                                    <span [ngClass]="message.review_history.length == 0 ? 'inactive' : ''" class="history-span"
                                                          (click)="ShowReviewHistory(message)">
                                                        <mat-icon>history</mat-icon>
                                                    </span>
                                                </span>
                                            </span>

                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </span>
                    <span class="info-span d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="reportService.message._ui_total_message_count == 0"> There are no messages corresponding to the selected filters</span>
                </table>
            </div>
        </div>
    </footer>
</div>
