<div class="layout-page d-inline-block col-lg-9 col-md-9 col-sm-8 col-xs-8 no-pad">
    <!-- Annotated source -->
    <div class="annotated-source-body d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
        <nav class="file-header d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
            <span class="folder-span">{{ source.source_dir }}</span>
            <span class="path-divider">/</span>
            <strong>{{ source.filename }}</strong>
        </nav>
        <main #scrollView class="scrollable-content d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12" [ngClass]="showMessageList ? 'expanded' : 'reduce'">
            <div class="missing-file-content" *ngIf="!source.lines">
                <h4>Missing file content</h4>
                <p>
                    This is most likely due to an error during the HTML report
                    generation.
                </p>
            </div>
            <div class="file" *ngIf="source.lines">
                <annotated-source-content
                                          [lines]="source.lines"
                                          [tools]="source.tools"
                                          [coverage]="source.coverage"
                                          [inlineAnnotations]="inlineAnnotations"
                                          [displayMessages]="displayMessages">
                </annotated-source-content>
            </div>
        </main>
    </div>
    <footer class="layout-page-footer location-view d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad" *ngIf="displayMessages">
        <div class="location-view-flex d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
            <div class="location-view-header d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
                <span class="location-view-title" (click)="tabOpen = 'metric'" [ngClass]="tabOpen == 'metric' ? 'selected': ''" *ngIf="source.metrics">
                    File Metrics
                </span>
                <span class="location-view-title" (click)="tabOpen = 'message'; thisFile = true" [ngClass]="tabOpen == 'message' ? 'selected': ''">
                    File Messages
                </span>
                <span class="location-view-title" (click)="tabOpen = 'messages'; thisFile = false" [ngClass]="tabOpen == 'messages' ? 'selected': ''">
                    All Messages
                </span>
                <button id="ErrorButton" class="location-view-refresh-btn" (click)='reportService.refreshUserReview()'>
                    <span>Refresh review</span>
                </button>
                <button *ngIf="reportService.isOnline" (click)="writeReview()" class="location-view-review-btn" [disabled]="!checked_msg || checked_msg.length == 0 || tabOpen != 'message'">
                    <span>Add review</span>
                </button>
                <button class="location-view-collapse-btn"
                        [matTooltip]="showMessageList ? 'Hide' : 'Show'"
                        matTooltipPosition="left"
                        (click)="showMessageList = !showMessageList">
                    <mat-icon class="md-18" [ngClass]="{ expanded: showMessageList }">
                        keyboard_arrow_down
                    </mat-icon>
                </button>
            </div>
            <div class="location-view-list d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad" [ngClass]="showMessageList ? 'expanded' : 'reduce'">
                <table *ngIf="tabOpen == 'metric'" class="file-line-container d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span *ngIf="source.metrics && source.metrics.length > 0">
                        <tbody *ngFor="let metric of source.metrics; let idx = index" [attr.data-index]="idx" class="d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad" [ngClass]="idx % 2 == 0 ? 'metric1' : 'metric2'">
                            <span class="d-inline-block col-lg-6 col-md-6 col-sm-6 col-xs-6 ">{{metric.rule.name}}</span>
                            <span class="d-inline-block col-lg-6 col-md-6 col-sm-6 col-xs-6 ">{{metric.value}}</span>
                        </tbody>
                    </span>
                    <span class="info-span d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="source.metrics.length == 0">
                        No metrics for this file.
                    </span>
                </table>


                <table *ngIf="tabOpen == 'message'" class="file-line-container d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
                    <span *ngIf="reportService.message" class="all-sources-line d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
                        <span class="tab-header d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
                            <span class="d-inline-block col-lg-1 col-md-1 col-sm-1 col-xs-1 click no-pad" (click)="sortModules('line', '')">
                                <span class="ellipsis">Line</span>
                                <span class="header-icon"
                                      *ngIf="reportService.messageSort.newSort == 'line'">
                                    <mat-icon class="md-18" *ngIf="reportService.messageSort.order == 1">arrow_downward</mat-icon>
                                    <mat-icon class="md-18" *ngIf="reportService.messageSort.order == -1">arrow_upward</mat-icon>
                                </span>
                            </span>
                            <span class="center d-inline-block col-lg-1 col-md-1 col-sm-1 col-xs-1 click no-pad"
                                  (click)="sortModules('ranking','countRanking')">
                                <span class="ellipsis">Ranking</span>
                                <span class="header-icon"
                                      *ngIf="reportService.messageSort.newSort == 'ranking'">
                                    <mat-icon class="md-18" *ngIf="reportService.messageSort.order == 1">arrow_downward</mat-icon>
                                    <mat-icon class="md-18" *ngIf="reportService.messageSort.order == -1">arrow_upward</mat-icon>
                                </span>
                            </span>
                            <span class="d-inline-block col-lg-8 col-md-8 col-sm-8 col-xs-8 click no-pad" >
                            </span>
                            <span class="center d-inline-block col-lg-2 col-md-2 col-sm-2 col-xs-2 click"
                                  (click)="sortModules('status_type','')">
                                <span class="ellipsis">Review Status</span>
                                <span class="header-icon"
                                      *ngIf="reportService.messageSort.newSort == 'status_type'">
                                    <mat-icon class="md-18" *ngIf="reportService.messageSort.order == 1">arrow_downward</mat-icon>
                                    <mat-icon class="md-18" *ngIf="reportService.messageSort.order == -1">arrow_upward</mat-icon>
                                </span>
                            </span>
                        </span>

                        <span *ngFor="let mySource of reportService.message.sources;trackBy: trackSrc"
                              class=" d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad"
                              [ngClass]="mySource.filename === source.filename ? '' : 'hideIt'">
                            <span id="{{mySource.filename}}" class="all-messages-line d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad open" *ngIf="mySource && (mySource._total_message_count > 0 || !mySource._total_message_count)" >
                                <span *ngFor="let message of mySource.messages;trackBy: trackMsg"
                                      class="d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad"
                                      [ngClass]="(!this.reportService.showFiles && (message._ui_total_message_count == 0 || ( message._ui_total_message_count == null && message._total_message_count == 0)) || message.hide == false) || (!reportService.showReviews && !message.user_review) ? 'hideIt' : ''">
                                    <span class="message-line d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad"
                                          [ngClass]="(selected_msg.indexOf(message.id) != -1 ? 'selected' : '') + ' ' + message.tool"
                                          (click)="selectMessage(message, $event)">
                                        <span class="d-inline-block col-lg-1 col-md-1 col-sm-1 col-xs-1 no-pad">
                                            {{message.line}}:{{message.col_begin}}
                                        </span>
                                        <span class="d-inline-block col-lg-1 col-md-1 col-sm-1 col-xs-1 no-pad ellipsis">
                                            {{message.ranking.name}}
                                        </span>
                                        <span class="d-inline-block col-lg-8 col-md-8 col-sm-8 col-xs-8 no-pad" >
                                            {{message.name}}
                                        </span>
                                        <span class="user-review d-inline-block col-lg-2 col-md-2 col-sm-2 col-xs-2 no-pad" >
                                            {{message.user_review ? message.user_review.display_name : 'Uncategorized'}}
                                        </span>
                                        <span  class="review-history d-inline-block" *ngIf="message.review_history" >
                                            <span [ngClass]="message.review_history.length == 0 ? 'inactive' : ''" class="history-span"
                                                  (click)="ShowReviewHistory(message)">
                                                <mat-icon>history</mat-icon>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                            <span class="info-span d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="mySource.filename === source.filename && mySource._ui_total_message_count === 0"> There are no messages corresponding to the selected filters </span>
                        </span>
                    </span>
                </table>

                <table *ngIf="tabOpen == 'messages'" class="file-line-container d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
                    <span class="all-sources-line d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad"
                          *ngIf="reportService.message && reportService.message._ui_total_message_count > 0 || !reportService.message._ui_total_message_count">

                        <span class="tab-header d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
                            <span class="d-inline-block col-lg-1 col-md-1 col-sm-1 col-xs-1 click no-pad" (click)="sortModules('line', '')">
                                <span class="ellipsis">Name</span>
                                <span class="header-icon"
                                      *ngIf="reportService.messageSort.newSort == 'line'">
                                    <mat-icon class="md-18" *ngIf="reportService.messageSort.order == 1">arrow_downward</mat-icon>
                                    <mat-icon class="md-18" *ngIf="reportService.messageSort.order == -1">arrow_upward</mat-icon>
                                </span>
                            </span>
                            <span class="center d-inline-block col-lg-1 col-md-1 col-sm-1 col-xs-1 click no-pad"
                                  (click)="sortModules('ranking','countRanking')">
                                <span class="ellipsis">Ranking</span>
                                <span class="header-icon"
                                      *ngIf="reportService.messageSort.newSort == 'ranking'">
                                    <mat-icon class="md-18" *ngIf="reportService.messageSort.order == 1">arrow_downward</mat-icon>
                                    <mat-icon class="md-18" *ngIf="reportService.messageSort.order == -1">arrow_upward</mat-icon>
                                </span>
                            </span>
                            <span class="d-inline-block col-lg-8 col-md-8 col-sm-8 col-xs-8 click no-pad">
                            </span>
                            <span class="center d-inline-block col-lg-2 col-md-2 col-sm-2 col-xs-2 click"
                                  (click)="sortModules('status_type','')">
                                <span class="ellipsis">Review Status</span>
                                <span class="header-icon"
                                      *ngIf="reportService.messageSort.newSort == 'status_type'">
                                    <mat-icon class="md-18" *ngIf="reportService.messageSort.order == 1">arrow_downward</mat-icon>
                                    <mat-icon class="md-18" *ngIf="reportService.messageSort.order == -1">arrow_upward</mat-icon>
                                </span>
                            </span>
                        </span>

                        <span *ngFor="let mySource of reportService.message.sources;trackBy: trackSrc"
                              class=" d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad"
                              [ngClass]="(!this.reportService.showFiles && (mySource._ui_total_message_count == 0 || ( mySource._ui_total_message_count == null && mySource._total_message_count == 0))) ? 'hideIt' : ''">
                            <span id="{{mySource.filename}}" class="source-line d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad open">
                                <span class="header-line d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad" (click)="openClose(mySource.filename)">
                                    <span class="d-inline-block col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <span *ngIf="!(mySource._ui_total_message_count == 0 || ( mySource._ui_total_message_count == null && mySource._total_message_count == 0))">
                                            <mat-icon  class="md-18 source-tree">chevron_right</mat-icon>
                                        </span>
                                        <span class="project-name"> {{mySource.projectName}} </span>
                                        <span class="file-name">{{mySource.filename}}</span>
                                    </span>
                                    <span class="center d-inline-block col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        {{
                                        mySource._ui_total_message_count != null ?
                                        mySource._ui_total_message_count :
                                        mySource._total_message_count
                                        }} message{{(mySource._ui_total_message_count != null && mySource._ui_total_message_count > 1) ? 's' : '' }}
                                    </span>
                                </span>

                                <span class="all-messages-line d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad"
                                      *ngIf="mySource">
                                    <span *ngFor="let message of mySource.messages;trackBy: trackMsg"
                                          class="d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad"
                                          [ngClass]="(!this.reportService.showFiles && (message._ui_total_message_count == 0 || ( message._ui_total_message_count == null && message._total_message_count == 0)) || message.hide == false) ? 'hideIt' : ''">
                                        <span class="message-line d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad"   [ngClass]="((selectedLine == message.line && source.filename == mySource.filename) ? 'selected': '') + ' ' + message.tool"
                                              [routerLink]="['/source', mySource.filename, { line: message.line, id: message.id }]">
                                            <span class="d-inline-block col-lg-1 col-md-1 col-sm-1 col-xs-1 no-pad">
                                                {{message.line}}:{{message.col_begin}}
                                            </span>
                                            <span class="d-inline-block col-lg-1 col-md-1 col-sm-1 col-xs-1 no-pad ellipsis">
                                                {{message.ranking.name}}
                                            </span>
                                            <span class="d-inline-block col-lg-8 col-md-8 col-sm-8 col-xs-8 no-pad" >
                                                {{message.name}}
                                            </span>
                                            <span class="user-review d-inline-block col-lg-2 col-md-2 col-sm-2 col-xs-2 no-pad" >
                                                {{message.user_review ? message.user_review.display_name : 'Uncategorized'}}
                                            </span>
                                            <span  class="review-history d-inline-block" *ngIf="message.review_history" >
                                                <span [ngClass]="message.review_history.length == 0 ? 'inactive' : ''" class="history-span"
                                                      (click)="ShowReviewHistory(message)">
                                                    <mat-icon>history</mat-icon>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </span>
                    <span class="info-span d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="reportService.message._ui_total_message_count == 0"> There are no messages corresponding to the selected filters</span>
                </table>
            </div>
        </div>
    </footer>
</div>
