<div>
    <!-- Loader animation -->
    <loader
        *ngIf="!blob && !isBlobFetchError"
        caption="Loading annotated source...">
    </loader>
    <!-- Error handling -->
    <missing-source-error *ngIf="isBlobFetchError" [filename]="filename"></missing-source-error>
    <!-- Blob display -->
    <div *ngIf="blob">
        <h4>Source file details</h4>
        <dl class="dl-horizontal">
            <dt>Filename</dt>
            <dd><span class="filename">{{ blob.filename }}</span></dd>

            <dt>Project</dt>
            <dd>{{ blob.project }}</dd>
        </dl>
        <!-- File metrics -->
        <h4>Metrics</h4>
        <div *ngIf="!blob.metrics.length">
            <p class="no-metrics"><em>No metrics to display</em></p>
        </div>
        <div *ngIf="blob.metrics">
            <dl class="dl-horizontal">
                <template ngFor let-metric [ngForOf]="blob.metrics">
                    <dt class="metric-label">{{ metric.rule.name }}</dt>
                    <dd><span class="metric-value">{{ metric.message }}</span></dd>
                </template>
            </dl>
        </div>
        <div class="option-selectors">
            <!-- Tool selector -->
            <option-selector class="tool-selector" title="Tools"
                *ngIf="blob.tools | notEmpty"
                [options]="blob.tools | mapValues" [optionCount]="toolMessageCount">
            </option-selector>
            <!-- Rule selector -->
            <option-selector class="rule-selector" title="Rules"
                *ngIf="blob.rules | notEmpty"
                [options]="blob.rules | mapValues" [optionCount]="ruleMessageCount">
            </option-selector>
            <!-- Property selector -->
            <option-selector class="property-selector" title="Properties"
                *ngIf="blob.properties | notEmpty"
                [options]="blob.properties | mapValues" [optionCount]="propertyMessageCount">
            </option-selector>
        </div>
        <!-- Annotated source -->
        <div class="file" *ngIf="blob.lines">
            <div class="file-header">
                <div class="file-info">
                    {{ blob.lines.length }} lines
                    <template [ngIf]="hasMetric('code_lines')">
                        ({{ getMetricValue('code_lines') }} sloc)
                    </template>
                    <div class="file-info-divider"></div>
                    {{ getMessageDisplayedCount() }} messages displayed
                </div>
            </div>
            <div class="blob-wrapper">
                <table class="file-line-container">
                    <template ngFor let-line [ngForOf]="blob.lines">
                        <tr [ngClass]="{
                                covered: coverage(line.number) == 'COVERED',
                                not_covered: coverage(line.number) == 'NOT_COVERED'
                            }">
                            <td class="blob-num">{{ line.number }}</td>
                            <!-- line.content may contain escaped HTML entities.
                                Use AngularJS embedded sanitizer to render it.  -->
                            <td class="blob-code" [innerHTML]="bypassSanitizer(line.html_content)"></td>
                        </tr>
                        <template [ngIf]="hasDisplayableMessage(line.number)">
                            <tr class="inline-comments">
                                <td colspan=2>
                                    <template ngFor let-message [ngForOf]="messages(line.number)">
                                        <inline-comment
                                            *ngIf="shouldDisplayMessage(message)"
                                            [message]="message">
                                        </inline-comment>
                                    </template>
                                </td>
                            </tr>
                        </template>
                    </template>
                </table>
            </div>
        </div>
    </div>
</div>
