<div>
    <!-- Loader animation -->
    <div *ngIf="!blob && !isBlobFetchError" class="loader">
        <loader></loader>
        <center>Loading annotated source...</center>
    </div>
    <!-- Error handling -->
    <missing-source-error *ngIf="isBlobFetchError" [filename]="filename"></missing-source-error>
    <!-- Blob display -->
    <div *ngIf="blob">
        <h4>Source file details</h4>
        <dl class="dl-horizontal">
            <dt>Filename</dt>
            <dd><span class="filename">{{ blob.filename }}</span></dd>

            <dt>Project</dt>
            <dd>{{ blob.project }}</dd>
        </dl>
        <h4>Metrics</h4>
        <div *ngIf="!blob.metrics.length">
            <p class="no-metrics"><em>No metrics to display</em></p>
        </div>
        <div *ngIf="blob.metrics">
            <dl class="dl-horizontal">
                <template ngFor let-metric [ngForOf]="blob.metrics">
                    <dt class="metric-label">{{ metric.rule.name }}</dt>
                    <dd><span class="metric-value">{{ metric.message }}</span></dd>
                </template>
            </dl>
        </div>
        <h4>Tools</h4>
        <div class="tool-selector">
            <template ngFor let-tool [ngForOf]="blob.tools | mapValues">
                <div class="tool">
                    <input type="checkbox" [(ngModel)]="tool.ui_selected" />
                    <label class="tool-label">{{ tool.name }} ({{ tool.message_count }})</label>
                </div>
            </template>
        </div>
        <h4>Rules</h4>
        <div class="rule-selector">
            <template ngFor let-rule [ngForOf]="blob.rules | mapValues">
                <div class="rule" *ngIf="blob.tools[rule.tool.id].ui_selected">
                    <input type="checkbox" [(ngModel)]="rule.ui_selected" />
                    <label class="rule-label">{{ rule.name }} ({{ rule.message_count }})</label>
                </div>
            </template>
        </div>
        <div class="editor read-only">
            <div class="file-header">
                <div class="filename">{{ blob.filename }}</div>
                <div class="message-count">
                    <span>Displayed message count: {{ getMessageDisplayedCount() }}</span>
                </div>
            </div>
            <table>
                <template ngFor let-line [ngForOf]="highlightedLines()" let-isOdd="odd">
                    <tr class="blob" [ngClass]="{
                            odd: isOdd,
                            covered: coverage(line.number) == 'COVERED',
                            not_covered: coverage(line.number) == 'NOT_COVERED'
                        }">
                        <td class="blob-number">{{ line.number }}</td>
                        <!-- line.content may contain escaped HTML entities.
                             Use AngularJS embedded sanitizer to render it.  -->
                        <td class="blob-code" [innerHTML]="line.content"></td>
                    </tr>
                    <template ngFor let-message [ngForOf]="messages(line.number)">
                        <tr class="inline-comment"
                            *ngIf="blob.tools[message.rule.tool.id].ui_selected && blob.rules[message.rule.id].ui_selected"
                        >
                            <td colspan=2>
                                <b>{{ message.rule.tool.name }}</b>: {{ message.message }} ({{ message.rule.identifier }})
                            </td>
                        </tr>
                    </template>
                </template>
            </table>
        </div>
    </div>
</div>
