// Applies for viewport width > 1280px
:host {
  display: block;
  height: 100%;
}

div.annotated-source {
  display: flex;
  margin: 0 auto;
  height: 100%;
}

header {
  flex: 0 0 400px;
  padding: 0 0 0 20px;

  overflow-y: auto;
}

section {
  width: 100%;
  padding: 20px;

  flex: 1 1;
  overflow-y: auto;

  .annotated-source-body {
  }
}

// Only applies for viewport width <= 1280px
@media only screen and (max-width: 1280px) {

}

h3.source-head {
  font-size: 18px;
  font-weight: normal;

  line-height: 26px;
  color: #666;

  span.path-divider { margin: 0 0.25em; }
  strong {
    color: #444;
    font-weight: 500;
  }
}

.file-header,
.metric-value {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

div.option-selectors {
  display: flex;
  flex-flow: row wrap;
  option-selector { flex-grow: 1; }

  /*
   * Set distance between flexbox items. Distance = abs(-8px) + abs(8px) = 16px
   */
  margin: 0 -8px;
  option-selector { padding: 0 8px; }

  margin-bottom: 16px;
}

.missing-file-content {
  h4 {
    color: #ce4844;
    font-size: 18px;

    margin-top: 0;
    margin-bottom: 5px;
  }

  p { margin-bottom: 0; }

  border-radius: 2px;
  border: 1px solid #eee;
  border-left: 2px solid #ce4844;

  padding: 20px;
  margin-top: 20px;

  font-size: 14px;
}

.file {
  font-size: 12px;
  border-radius: 2px;
  border: 1px solid #dddddd;
}

.file-header {
  padding: 5px 15px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid transparent;  /* to balance the 1px border-bottom */

  color: #333;
  cursor: default;

  .file-info {
    font-size: 12px;
    line-height: 32px;

    &-divider {
      width: 1px;
      display: inline-block;
      height: 18px;
      margin-left: 3px;
      margin-right: 3px;
      vertical-align: middle;
      background-color: #dddddd;
    }
  }
}

.blob-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;

  table.file-line-container {
    tab-size: 3;  /* TODO(delay): should only be the case for Ada sources */

    .empty-file { font-style: italic; }

    tr {
      &:hover {
        &.no_code td.blob-num { background-color: #edf2f9; }
        td.blob-code { background-color: #f4f7fb; }
      }

      /* Line covered */
      &.covered td.blob-num { background-color: #dbffdb; }
      &:hover.covered td.blob-code { background-color: #eaffea; }

      /* Line not covered */
      &.not_covered td.blob-num,
      &:hover.not_covered td.blob-code {
        background-color: #fdd;
      }
      &.not_covered td.blob-code { background-color: #ffecec; }

      /* Line partially covered */
      &.partially_covered td.blob-num,
      &:hover.partially_covered td.blob-code {
        background-color: #fbe597;
      }
      &.partially_covered td.blob-code { background-color: #faefc8; }

      &.inline-comments td {
        padding: 8px;
        border-left: 0;
        border-color: #eeeeee;
      }

      .blob-num,
      .blob-code {
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 1.2rem;
        line-height: 1.5em;
        padding: 0 2ch;
        white-space: pre;
        border: 0;
        vertical-align: middle;
        cursor: default;
      }

      .blob-num {
        color: lighten(black, 70%);
        width: 1%;
        min-width: 50px;
        white-space: nowrap;
        text-align: right;
        vertical-align: top;
        padding-left: 10px;
        padding-right: 10px;
        border-right: 1px solid #eeeeee;
      }
    }
  }
}

inline-comment {
  display: block;
  margin-bottom: 8px;

  &:last-child { margin-bottom: 0; }
}

.location-view {
  position: fixed;
  left: 16px;
  right: 16px;
  bottom: 0;
  height: 300px;

  background-color: white;
  box-shadow:
    0 1px 5px 0 rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12);

  &-header {
    padding: 5px 15px;
    background-color: #f7f7f7;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #e5e5e5;

    color: #333;
    cursor: default;
    font-size: 12px;
    line-height: 24px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  }

  &-list {
    overflow-y: auto;
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  table tr.annotation {
    td {
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
      font-size: 1.2rem;
      line-height: 1.5em;
      padding: 0 2ch;
      border: 0;
      vertical-align: middle;
      cursor: default;

      &.line-num {
        color: lighten(black, 70%);
        width: 1%;
        min-width: 50px;
        white-space: nowrap;
        text-align: right;
        vertical-align: top;
        padding-left: 10px;
        padding-right: 10px;
        border-right: 1px solid #eeeeee;
      }

      &.line-annotation {
        line-height: 1.5em;

        a {
          color: #555;
          display: block;
        }
        &:hover {
          a { color: #4078c0; }
          background-color: #f4f7fb;
        }
      }
    }
  }
}

.file {
  margin-bottom: 210px;
}
