/* Component layout */

// Applies for viewport width > 1280px
:host {
  display: block;
  height: 100%;

  section.layout-page {
    display: flex;
    flex-direction: column;
    height: 100%;

    div.layout-page-content {
      flex: 1;
      overflow: hidden;

      div.annotated-source-body {
        display: flex;
        height: 100%;

        nav {
          flex: 0 0 400px;
          overflow-y: auto;
          padding: 0 16px;
        }

        main {
          flex: 1 1 auto;
          overflow-y: auto;
          padding: 16px;
        }
      }
    }

    footer.layout-page-footer {
      .location-view-flex {
        display: flex;
        flex-direction: column;
        height: 100%;

        .location-view-header { flex: 0 0 auto; }

        .location-view-list {
          height: 250px;
          flex: 1 1 auto;
          overflow-y: auto;
        }
      }
    }
  }
}

// Only applies for viewport width <= 1280px
@media only screen and (max-width: 1280px) {

}

/* Component style */

nav h4 { margin-top: 24px; }

.preferences {
  label {
    padding: 0 16px;
    display: block;
  }

  input[type="checkbox"] {
    position: relative;
    top: 2px;
    margin-right: 16px;
  }
}

.file-header,
.metric-value {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

div.option-selectors {
  width: 100%;

  display: flex;
  flex-flow: row wrap;

  filter-selector,
  option-selector {
    flex-grow: 1;
    margin-bottom: 19px;
  }
}

.missing-file-content {
  h4 {
    color: #ce4844;
    font-size: 18px;

    margin-top: 0;
    margin-bottom: 5px;
  }

  p { margin-bottom: 0; }

  border-radius: 2px;
  border: 1px solid #eee;
  border-left: 2px solid #ce4844;

  padding: 20px;
  margin-top: 20px;

  font-size: 14px;
}

.file {
  font-size: 12px;
  border-radius: 2px;
  border: 1px solid #e6e6e6;
}

.file-header {
  padding: 5px 15px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid transparent;  /* to balance the 1px border-bottom */

  color: #333;
  cursor: default;

  .file-info {
    font-size: 12px;
    line-height: 32px;

    &-divider {
      width: 1px;
      display: inline-block;
      height: 18px;
      margin-left: 3px;
      margin-right: 3px;
      vertical-align: middle;
      background-color: #dddddd;
    }
  }
}

.blob-wrapper {
  padding: 1ch 0;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;

  table.file-line-container {
    tab-size: 3;  /* TODO(delay): should only be the case for Ada sources */

    .empty-file { font-style: italic; }

    tr {
      /* Line covered */
      &.covered td.blob-num { background-color: #dbffdb; }
      &:hover.covered td.blob-code { background-color: #eaffea; }

      /* Line not covered */
      &.not_covered td.blob-num,
      &:hover.not_covered td.blob-code {
        background-color: #fdd;
      }

      /* Line partially covered */
      &.partially_covered td.blob-num,
      &:hover.partially_covered td.blob-code {
        background-color: #fbe597;
      }

      &:hover.inline-comments { background: none; }

      &.inline-comments td {
        padding: 0;
        border-left: 0;
        border-color: #eeeeee;

        inline-messages { margin: 8px; }
      }

      .blob-num,
      .blob-code {
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 1.2rem;
        line-height: 1.5em;
        white-space: pre;
        border: 0;
        padding: 0;
        vertical-align: middle;
        cursor: default;
      }

      .blob-num {
        width: 1%;
        min-width: 50px;
        white-space: nowrap;
        text-align: right;
        vertical-align: top;
        padding-right: 10px;
        user-select: none;

        a {
          color: lighten(black, 70%);
          text-decoration: none;
          &::before { content: attr(data-line-number); }
        }
      }

      .blob-code { padding-left: 10px; }
    }
  }
}

.location-view {
  background-color: white;

  &-header {
    display: flex;
    padding: 6px 15px 4px 15px;
    background-color: #f7f7f7;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #e5e5e5;

    color: #333;
    cursor: default;
    font-size: 12px;
    line-height: 24px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  }

  &-title { flex: 1 1 auto; }

  &-collapse-btn {
    flex: 0;
    border: 0;
    outline: 0;
    padding: 3px 10px;

    height: 24px ;
    border-radius: 2px;
    font-size: 0;

    md-icon.expanded { transform: rotate(180deg); }
  }

  table tr.message {
    td {
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
      font-size: 1.2rem;
      line-height: 1.5em;
      padding: 0 2ch;
      border: 0;
      vertical-align: middle;
      cursor: default;

      &.message-line,
      &.message-col {
        color: lighten(black, 60%);
        width: 1%;
        white-space: nowrap;
        vertical-align: top;
        padding: 0;
      }

      &.message-line {
        min-width: 30px;
        text-align: right;
        padding-left: 10px;
      }

      &.message-col {
        min-width: 15px;
        text-align: left;
        padding-right: 10px;

        &::before {
          content: ':';
          // Force minimal width to remove extra padding created by pseudo
          // element.
          width: 1px;
          display: inline-block;
        }
      }

      &.message-col,
      &.message-tool {
        border-right: 1px solid #eeeeee;
        width: 1%;
      }

      &.message-tool {
        vertical-align: top;
        color: #333;
      }

      &.message-text {
        line-height: 1.5em;

        a {
          color: #333;
          display: block;
        }
        &:hover {
          a { color: #4078c0; }
          background-color: #f4f7fb;
        }
      }
    }
  }
}
