/* Component layout */

// Applies for viewport width > 1280px
:host {
    display: block;
    height: 100%;

    section.layout-page {
        display: flex;
        flex-direction: column;
        height: 100%;

        div.layout-page-content {
            flex: 1;
            overflow: hidden;

            div.annotated-source-body {
                display: flex;
                height: 100%;

                nav {
                    flex: 0 0 400px;
                    overflow-y: auto;
                    padding: 0 16px;
                }

                main {
                    flex: 1 1 auto;
                    overflow-y: auto;
                    padding: 16px;
                }
            }
        }

        footer.layout-page-footer {

            .location-view-flex {
                display: flex;
                flex-direction: column;
                height: 100%;

                .location-view-header { flex: 0 0 auto; }

                .location-view-list {
                    height: 250px;
                    flex: 1 1 auto;
                    overflow-y: auto;
                }
            }
        }
    }
}

.info-span {
    color: grey;
    font-size: 15px;
    text-align: center;
    width: 100%;
    padding-top: 10px;
}

.hideIt {
    display: none;
}
.location-view-header {
    padding: 6px 15px 0px 3px !important;

    .selected {
        background-color: var(--elem-color);
    }
}

.location-view-title {
    border: 1px solid var(--elem-border);
    border-radius: 2px;
    margin-right: 1px;
    padding: 0px 5px;
    border-width: 1px 1px 0px 1px;
}
.file-line-container {
    padding: 0px 15px;
    .metric1 {
        background-color: var(--light-shade);
    }
    .metric2 {
        background-color: var(--strong-shade);
    }
}

.all-sources-line {

    .header-line {
        padding-bottom: 2px;
        padding-top: 2px;
        text-align: left;
        .project-name {
            color: grey;
            padding-left: 5px;
        }
        .file-name {
            font-weight: bold;
        }
    }
    .header-line:hover {
        background-color: var(--light-shade);
        cursor: pointer;
    }

    .source-tree {
        position: absolute;
        left: -1px;
        top: 0px;
    }
    .source-line.open .source-tree {
        transform: rotate(90deg);
    }

    .all-messages-line {
        .message-line {
            background-color: var(--medium-shade);
            padding: 2px 0px;
            margin-bottom: 1px;
        }
        .message-line:hover {
            background-color: var(--strong-shade);
            cursor: pointer;
        }
        .message-line.selected {
            background-color: var(--selected-color) !important;
        }

        .checkbox-span {
            text-align: right;
            padding-right: 10px;
            input[type="checkbox"] {
                margin-top: 2px;
                position: absolute;
                transform: scale(1.25);
            }
        }

        .message-tree {
            position: absolute;
            left: -5px;
            top: -1px;
        }

        .review-line {

            md-icon {
                position: absolute;
                font-size: 20px;
                right: 15px;
                cursor: pointer;
            }
            md-icon.inactive {
                color: darkgrey;
            }
        }
    }

    .source-line.reduce .all-messages-line {
        height: 0px;
        display: none
    }
    .source-line.open .all-messages-line {
        height: 100%;
        display: inline-block;
    }

}

// TODO: Review this error message to make it prettier
.missing-file-content {
    h4 {
        color: #ce4844;
        font-size: 18px;

        margin-top: 0;
        margin-bottom: 5px;
    }

    p { margin-bottom: 0; }

    border-radius: 2px;
    border: 1px solid #eee;
    border-left: 2px solid #ce4844;

    padding: 20px;
    margin-top: 20px;

    font-size: 14px;
}

.scrollable-content.expanded {
    overflow: auto;
    height: calc(100vh - 6vh - 6vh - 20vh);
}
.scrollable-content.reduce {
    overflow: auto;
    height: calc(100vh - 6vh - 6vh - 4vh);
}

.file {
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid var(--header-border);
}

.file-header {
    padding: 15px;
    font-size: 16px;

    color: #333;
    cursor: default;
    border-bottom: solid 1px var(--strong-border);
    height: 6vh;
    min-height: 50px;
}

.location-view {
    background-color: var(--main-color);
    bottom: 0;
    left: 0;
    position: absolute;

    .location-view-list.expanded {
        height: 20vh;
        overflow: auto;
    }

    .location-view-list.reduce {
        height: 0px;
    }
    &-header {
        display: flex;
        padding: 6px 15px 4px 15px;
        background-color: var(--header-color);
        border-top: 1px solid var(--header-border);
        border-bottom: 1px solid var(--header-border);
        color: #333;
        cursor: default;
        font-size: 12px;
        line-height: 24px;
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        height: 4vh;
        min-height: 34px;
    }

    &-collapse-btn {
        border: 0;
        padding: 3px 10px;
        height: 24px ;
        border-radius: 2px;
        font-size: 0;
        right: 15px;
        position: absolute;

        md-icon.expanded { transform: rotate(180deg); }
    }

    &-review-btn {
        border: 0;
        padding: 3px 10px;
        height: 24px ;
        border-radius: 2px;
        right: 60px;
        position: absolute;
    }

    &-review-btn:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &-review-input {
        padding: 3px 10px;
        right: 160px;
        position: absolute;

        input {
            transform: scale(1.2);
            position: absolute;
            top: 7px;
            left: -8px;
        }
    }
}
