<span class="form-back d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12" (click)="cancel()"></span>
<span class="form-box d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <span  class="form-title d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
        Message Review
    </span>

    <span class="message-reminder d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
        <span *ngFor="let message of reportService.selectedMessage;trackBy: trackMsg" class=" d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
            <span class="message-line d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
                <span class="d-inline-block col-lg-2 col-md-2 col-sm-2 col-xs-2 no-pad">
                    {{reportService.page}}:{{message.line}}:{{message.col_begin}}
                </span>
                <span [ngClass]="message.ranking.name" class="d-inline-block col-lg-2 col-md-2 col-sm-2 col-xs-2 no-pad">{{message.ranking.name}}</span>
                <span class="user-review d-inline-block col-lg-2 col-md-2 col-sm-2 col-xs-2 no-pad">{{message.user_review ? message.user_review.status.charAt(0).toUpperCase() + message.user_review.status.slice(1).toLowerCase() : 'Uncategorized'}}</span>
                <span class="d-inline-block col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    {{message.name}}
                </span>

            </span>
        </span>
    </span>

    <span class="form-field d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span class="d-inline-block col-lg-3 col-md-4 col-sm-12 col-xs-12"> New status: </span>
        <select class="d-inline-block col-lg-9 col-md-8 col-sm-12 col-xs-12" [(ngModel)]="status">
            <option *ngFor="let opt of review_status" [ngValue]="opt.value" >{{opt.show}}</option>
        </select>
    </span>
    <span class="form-field d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span class="d-inline-block col-lg-3 col-md-4 col-sm-12 col-xs-12"> Approved by: </span>
        <input type="text" class="d-inline-block col-lg-9 col-md-8 col-sm-12 col-xs-12" [(ngModel)]="username"/>
    </span>
    <span class="form-field d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span class="d-inline-block col-lg-3 col-md-4 col-sm-12 col-xs-12"> Comment: </span>
        <textarea rows="10" class="d-inline-block col-lg-9 col-md-8 col-sm-12 col-xs-12" [(ngModel)]="review">
        </textarea>
    </span>
    <span class="d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span id='dialogError' class="dialog-error d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
            You must choose a status
        </span>
    </span>
    <button md-raised-button id="ErrorButton" class="refresh-btn" (click)='reportService.refreshUserReview()'>
        <span>Refresh reviews</span>
    </button>
    <button md-raised-button (click)="submit()"> Save </button>
    <button md-button (click)="cancel()"> Cancel </button>
</span>

