<span class="form-back col-lg-12 col-md-12 col-sm-12 col-xs-12" (click)="close()"></span>
<span class="form-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <span  class="title-review col-lg-12 col-md-12 col-sm-12 col-xs-12">
        User review history
    </span>

    <span class="message-reminder col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
        <span class="message-line col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
            <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-pad">
                {{message.line}}:{{message.col_begin}}
            </span>
            <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-pad">
                <span [ngClass]="message.ranking.name">{{message.ranking.name}}</span>
                <span>{{message.user_review ? message.user_review.status.charAt(0).toUpperCase() + message.user_review.status.slice(1).toLowerCase() : 'Uncategorized'}}</span>
            </span>
            <span class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                {{message.name}}
            </span>
        </span>
    </span>

    <span class="all-review col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
        <span *ngFor="let review of history" class="line-review col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">

            <span class="date-review col-lg-6 col-md-6 col-sm-6 col-xs-6 no-pad">
                {{review.date | date : 'yyyy-MM-dd HH:mm'}}
            </span>
            <span class="author-review col-lg-6 col-md-6 col-sm-6 col-xs-6 no-pad">
                From: {{review.author ? review.author : '[Anonymous]'}}
            </span>
            <span class="status-review col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
                {{review.status.toUpperCase()}}
            </span>
            <span class="message-review col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {{review.message}}
            </span>
        </span>
    </span>
    <button md-raised-button (click)="close()"> Close </button>
</span>
