body {
  font-kerning: normal;
  font-variant-ligatures: common-ligatures, contextual;
  font-feature-settings: "kern", "liga", "clig", "calt";
}

main-responder {
  display: block;

  & h1 {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 300;
  }

  & annotated-source,
  & trace-list,
  & about {
    display: block;
    padding: 10px;
  }
}

annotated-source {
  & .editor {
    width: 100%;
    min-width: 90ch;
    overflow: hidden;
    border-radius: 2px;
    border: 1px solid #adb9cc;
  }

  & table { tab-size: 3; }

  & .file-header {
    padding: 10px 15px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #d8d8d8;
    color: #333;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.2rem;
    line-height: 1.5em;
    white-space: nowrap;
    cursor: default;
  }

  & tr.blob {
    &.odd { background-color: #f8f8f8; }
    &:hover {
      &.no_code td.blob-number { background-color: #edf2f9; }
      & td.blob-code { background-color: #f4f7fb; }
    }

    /* Line covered */
    &.covered td.blob-number { background-color: #dbffdb; }
    &:hover.covered td.blob-code { background-color: #eaffea; }

    /* Line not covered */
    &.not_covered td.blob-number,
    &:hover.not_covered td.blob-code {
      background-color: #fdd;
    }
    &.not_covered td.blob-code { background-color: #ffecec; }

    /* Line partially covered */
    &.partially_covered td.blob-number,
    &:hover.partially_covered td.blob-code {
      background-color: #fbe597;
    }
    &.partially_covered td.blob-code { background-color: #faefc8; }

    /* Line exempted not containing violation(s) */
    &.exempted_no_violation td.blob-number,
    &:hover.exempted_no_violation td.blob-code {
      background-color: #d8e8f5;
    }
    &.exempted_no_violation td.blob-code { background-color: #e7eff5; }

    /* Line exempted containing violation(s) */
    &.exempted_with_violation td.blob-number,
    &:hover.exempted_with_violation td.blob-code {
      background-color: #e8def1;
    }
    &.exempted_with_violation td.blob-code { background-color: #eee8f4; }

    & td {
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
      font-size: 1.2rem;
      line-height: 1.5em;
      padding: 0 2ch;
      white-space: pre;
      border: 0;
      vertical-align: middle;
      cursor: default;

      &.blob-number {
        color: color(black alpha(-70%));
        width: 1%;
        min-width: 50px;
        white-space: nowrap;
        text-align: right;
        vertical-align: top;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #f7f7f7;
        border-right: 1px solid #d8d8d8;
      }
    }
  }

  & tr.inline-comment {
    & table {
      font-size: 1.2rem;
      border: 1px solid #d8d8d8;
    }

    & td { border: 0; }

    & td.kind {
      width: 1%;
      min-width: 50px;
      text-transform: capitalize;
      border-right: 1px solid #d8d8d8;
      padding-left: 16px;
      padding-right: 16px;
      background-color: #f7f7f7;
    }

    & td.message {
      padding-left: 10px;
      padding-right: 10px;

      & span.blob-code {
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        color: color(black alpha(-30%));
      }
    }
  }
}

table {
  width: 100%;
  border-spacing: 0;

  & thead {
    color: white;
    background-color: #639add;

    & th {
      border: 1px solid #5193fb;
      padding: 4px;
    }
  }
}

ul li,
table td,
table th {
  line-height: 1.5em;
}

table td,
table th {
  padding: 5px;
}

table th {
  font-weight: normal;
}

table td {
  border: 1px solid #adb9cc;
}
