.option-selector {
  display: inline-block;
  width: 100%;
  min-width: 300px;

  .option {
    display: flex;
    padding: 0 16px;

    input[type="checkbox"] {
      margin-right: 16px;
      position: relative;
      top: 3px;
    }

    label { flex-grow: 1; }

    .option-count {
      color: #777;
      padding-left: 16px;
    }
  }
}
