<div class="option-selector tool-selector">
    <table>
        <thead>
            <tr>
                <th>{{ title }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let option of options; let odd = odd" [ngClass]="{ odd: odd }">
                <td>
                    <div class="option">
                        <label>
                            <input type="checkbox" [(ngModel)]="option.ui_selected" />
                            <span>{{ option.name }}</span>
                        </label>
                        <span class="option-count">{{ optionCount(option) }}</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
