.filter-panel.open {
    animation-timing-function: ease-in;
    animation-duration: 2s;

    .group-button {
        padding: 15px 30px;

        input[type=radio] {
            display: none;
        }

        label {
            background-color: var(--elem-color);
        }
        label:hover, input[type=radio]:not(:checked) + label:hover {
            background-color: var(--elem-hover);
        }

        input[type=radio]:not(:checked) + label {
            opacity: 0.5;
            background-color: var(--elem-unchecked);
        }
    }

    .navig-button {
        text-align: center;
        margin: 15px 0px 5px 0px;

        button {
            padding: 5px;
            margin: 0px;
            text-align: center;
            background-color: var(--elem-color);
            border: 1px #C4c4c5 solid;

            button#ErrorButton {
                margin-left: -5px;
            }
            button#ProjectButton {
                margin-right: 2.5px;
            }
        }
        .active {
            background-color: var(--elem-hover);
            border: 1px var(--elem-border) solid;
        }
    }

    .arrow-button.open {
        padding: 1px 0px;
        background-color: var(--elem-hover);
        border: 1px var(--elem-border) solid;
        line-height: 1;
        position: absolute;
        right: 15px;
        top: 15px;

        .right {
            opacity: 1;
            animation-timing-function: ease-in;
            animation-duration: 2s;
        }

        .left {
            opacity: 0;
            animation-timing-function: ease-in;
            animation-duration: 2s;
        }
    }

    .hide-files {

        .switch {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 20px;
        }
        .slider {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }
        .slider:before {
            position: absolute;
            content: "";
            height: 12px;
            width: 12px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #94d894;
        }
        input:focus + .slider {
            box-shadow: 0 0 1px #94d894;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(20px);
            -ms-transform: translateX(20px);
            transform: translateX(20px);
        }

        label {
            padding: 3px 10px;
            margin-bottom: 5px;
            cursor: pointer;
        }
        .hideIt {
            display: none;
        }
    }


    .tool-selector {
        opacity: 1;
        animation-timing-function: ease-in;
        animation-duration: 2s;
    }

    .option-selectors {
        height: calc(100% - 80px);
        overflow: auto;
    }

    /*div.option-selectors {
    width: 100%;

    display: flex;
    flex-flow: row wrap;

    filter-selector {
        flex-grow: 1;
        margin-bottom: 19px;
    }
}*/

}

.filter-panel.reduce {
    width: 55px;
    animation-timing-function: ease-in;
    animation-duration: 2s;

    filter-selector {
        opacity: 0;
        animation-timing-function: ease-in;
        animation-duration: 2s;
    }

    .navig-button, .hide-files, .option-selectors {
        display: none;
    }

    .arrow-button.reduce {
        padding: 1px 0px;
        background-color: var(--elem-hover);
        border: 1px var(--elem-border) solid;
        position: absolute;
        line-height: 1;
        right: 15px;
        top: 15px;

        .right {
            opacity: 0;
            animation-timing-function: ease-in;
            animation-duration: 2s;
        }

        .left {
            opacity: 1;
            animation-timing-function: ease-in;
            animation-duration: 2s;
        }
    }

    .filter-span {
        transform: rotate(-90deg);
        display: block;
        margin-top: 65px;
        font-weight: bold;
    }
}
