<!-- Spinner animation -->
<spinner
         *ngIf="!this.reportService.filter && !isReportFetchError"
         caption="Loading report..."
         class="d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
</spinner>
<!-- Error handling -->
<missing-report-error
                      *ngIf="isReportFetchError"
                      class="d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
</missing-report-error>
<!-- When everything works fine -->
<nav id="filterBar" *ngIf="this.reportService.filter" class="filter-panel open d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">


    <span class="d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
        <!-- Button open/close filters -->
        <button id="chrevonButton" class="arrow-button open"
                (click)="openCloseFilterTab()">
            <i *ngIf="!filterOpen" class="material-icons">chevron_right</i>
            <i *ngIf="filterOpen" class="material-icons">chevron_left</i>
        </button>
        <span *ngIf="!filterOpen" class="filter-span">Filters</span>
    </span>
    <!-- If there is no filter and so no messages -->
    <span  class="no-filter-span d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad"
           *ngIf="reportService.isFilter == false">
        <span class="d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
          There are no messages in the GNAThub database.
        </span>
        <span  class="d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
          Nothing to display.
        </span>
    </span>

    <!-- Show all the filters according to the report.json -->
    <div class="option-selectors d-inline-block col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
            <filter-selector class="tool-selector" title="Tools"
                             *ngIf="this.reportService.filter.tools.length"
                             [options]="this.reportService.filter.tools"
                             (toggle)="onToolFilterToggle($event)">
            </filter-selector>
            <filter-selector
                             class="property-selector" title="Ranking"
                             *ngIf="this.reportService.filter.ranking.length"
                             [options]="this.reportService.filter.ranking"
                             (toggle)="onRankingFilterToggle($event)">
            </filter-selector>
            <filter-selector
                             class="rule-selector" title="Categories"
                             *ngIf="this.reportService.filter.rules.length"
                             [options]="this.reportService.filter.rules"
                             (toggle)="onRuleFilterToggle($event)">
            </filter-selector>
            <filter-selector
                             class="property-selector" title="History"
                             *ngIf="this.reportService.filter.properties"
                             [options]="this.reportService.filter.properties"
                             (toggle)="onPropertyFilterToggle($event)">
            </filter-selector>
            <filter-selector
                             class="property-selector" title="Review Status"
                             *ngIf="this.reportService.filter.review_status"
                             [options]="this.reportService.filter.review_status"
                             (toggle)="onReviewFilterToggle($event)">
            </filter-selector>
        </div>
</nav>
