.filter-panel.open {
    animation-timing-function: ease-in;
    animation-duration: 2s;

    .tool-selector .filter-selector {
        margin-top: 50px;
    }

    .group-button {
        padding: 15px 30px;

        input[type=radio] {
            display: none;
        }

        label {
            background-color: var(--elem-color);
        }
        label:hover, input[type=radio]:not(:checked) + label:hover {
            background-color: var(--elem-hover);
        }

        input[type=radio]:not(:checked) + label {
            opacity: 0.5;
            background-color: var(--elem-unchecked);
        }
    }

    .arrow-button.open {
        padding: 1px 0px;
        border: 0px;
        border-radius: 2px;
        line-height: 0;
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;

        .right {
            opacity: 1;
            animation-timing-function: ease-in;
            animation-duration: 2s;
        }

        .left {
            opacity: 0;
            animation-timing-function: ease-in;
            animation-duration: 2s;
        }
    }

    .tool-selector {
        opacity: 1;
        animation-timing-function: ease-in;
        animation-duration: 2s;
    }

    .option-selectors, .no-filter-span {
        height: calc(100% - 80px);
        overflow: auto;
    }

    .no-filter-span {
        text-align: center;
        padding-top: 65px;
    }

}

.filter-panel.reduce {
    width: 55px;
    animation-timing-function: ease-in;
    animation-duration: 2s;

    filter-selector {
        opacity: 0;
        animation-timing-function: ease-in;
        animation-duration: 2s;
    }

    .option-selectors, .no-filter-span {
        display: none;
    }

    .arrow-button.reduce {
        padding: 1px 0px;
        background-color: var(--elem-hover);
        border: 0px;
        border-radius: 2px;
        line-height: 0;
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;

        .right {
            opacity: 0;
            animation-timing-function: ease-in;
            animation-duration: 2s;
        }

        .left {
            opacity: 1;
            animation-timing-function: ease-in;
            animation-duration: 2s;
        }
    }

    .filter-span {
        transform: rotate(-90deg);
        display: block;
        margin-top: 65px;
        font-weight: bold;
    }
}

.filter-panel .option-selectors {
    margin-top: 50px;
}
