.filter-selector {

    .filter-header {
        border-bottom: 1px solid var(--elem-border);
        color: #333;
        padding: 8px 10px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 2px;

        .filter-title {
            min-height: 20px;
        }

        .filter-header-title {
            display: inline-block;
            position: absolute;
            left: 24px;
            top: 0px;
        }

        i.arrow {
            position: absolute;
            left: 0px;
            top: -2px;
        }
    }

    input[type=checkbox] {
        display: none;
    }

    label.option {
        margin: 1px 0px;
        background-color: var(--elem-color);
        div.count{
            text-align: right;
            float: right;
        }

        &.message {
            .Info {
                background-color: var(--Info);
                &:hover {
                    background-color: var(--Info-hover);
                }
            }
            .Unspecified {
                background-color: var(--Unspecified);
                &:hover {
                    background-color: var(--Unspecified-hover);
                }
            }
            .Medium {
                background-color: var(--Medium);
                &:hover {
                    background-color: var(--Medium-hover);
                }
            }
            .Low {
                background-color: var(--Low);
                &:hover {
                    background-color: var(--Low-hover);
                }
            }
            .High {
                background-color: var(--High);
                &:hover {
                    background-color: var(--High-hover);
                }
            }

            .Not_A_Bug, .NOT_A_BUG,
            .False_Positive, .FALSE_POSITIVE,
            .Intentional, .INTENTIONAL {
                background-color: var(--Not-A-Bug);
                &:hover {
                    background-color: var(--Not-A-Bug-hover);
                }
            }

            .Pending, .PENDING {
                background-color: var(--Pending);
                &:hover {
                    background-color: var(--Pending-hover);
                }
            }

            .Bug, .BUG {
                background-color: var(--Bug);
                &:hover {
                    background-color: var(--Bug-hover);
                }
            }
        }
    }
    label.option:hover, input[type=checkbox]:not(:checked) + label.option:hover {
        background-color: var(--elem-hover);
    }

    input[type=checkbox]:not(:checked) + label.option {
        opacity: 0.5;
        background-color: var(--elem-unchecked);
    }

    .select {
        font-weight: 200;
        text-align: right;
        right: 15px;

        span:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

filter-selector.tool-selector {

    .filter-selector {
        margin-top: 40px;
    }

}

.filter-selector.open {
    .filter-body {
        display: inline-block;

        .hide {
            display: none;
        }

    }
}

.filter-selector.reduce {
    .filter-body {
        display: none;
    }
    i.arrow {
        transform: rotate(180deg);
    }
}

filter-selector.tool-selector .filter-selector {
    margin-top: 40px;
}

.option {
    .background-pad {
        padding: 5px;

        border-left: 10px solid;
        border-left-color: transparent;
        &.codepeer {
            border-left-color: #337ab7;
        }

        &.spark {
            border-left-color: pink;
        }

        &.gnatcheck {
            border-left-color: #29a229;
        }
    }
}

// INACTIVE < 0
input[type=checkbox]:not(:checked) + label.option.no-message {
    .Info {
        background-color: var(--Info);
        &:hover {
            background-color: var(--Info-hover);
        }
    }
    .Unspecified {
        background-color: var(--Unspecified);
        &:hover {
            background-color: var(--Unspecified-hover);
        }
    }
    .Medium {
        background-color: var(--Medium);
        &:hover {
            background-color: var(--Medium-hover);
        }
    }
    .Low {
        background-color: var(--Low);
        &:hover {
            background-color: var(--Low-hover);
        }
    }
    .High {
        background-color: var(--High);
        &:hover {
            background-color: var(--High-hover);
        }
    }

    .Not_A_Bug, .NOT_A_BUG,
    .False_Positive, .FALSE_POSITIVE,
    .Intentional, .INTENTIONAL {
        background-color: var(--Not-A-Bug);
        &:hover {
            background-color: var(--Not-A-Bug-hover);
        }
    }

    .Pending, .PENDING {
        background-color: var(--Pending);
        &:hover {
            background-color: var(--Pending-hover);
        }
    }

    .Bug, .BUG {
        background-color: var(--Bug);
        &:hover {
            background-color: var(--Bug-hover);
        }
    }
}

// ACTIVE < 0
input[type=checkbox]:checked + label.option.no-message:hover {
    background: repeating-linear-gradient(
        43deg,
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.5) 10px,
        var(--elem-hover) 10px,
        var(--elem-hover) 20px
    ) !important;

    &.Info {
        background: repeating-linear-gradient(
            43deg,
            rgba(255,255,255,0.5),
            rgba(255,255,255,0.5) 10px,
            var(--Info-hover) 10px,
            var(--Info-hover) 20px
        ) !important;
    }
    &.Medium {
        background: repeating-linear-gradient(
            43deg,
            rgba(255,255,255,0.5),
            rgba(255,255,255,0.5) 10px,
            var(--Medium-hover) 10px,
            var(--Medium-hover) 20px
        ) !important;
    }
    &.Low {
        background: repeating-linear-gradient(
            43deg,
            rgba(255,255,255,0.5),
            rgba(255,255,255,0.5) 10px,
            var(--Low-hover) 10px,
            var(--Low-hover) 20px
        ) !important;
    }
    &.High {
        background: repeating-linear-gradient(
            43deg,
            rgba(255,255,255,0.5),
            rgba(255,255,255,0.5) 10px,
            var(--High-hover) 10px,
            var(--High-hover) 20px
        ) !important;
    }

    &.Not_A_Bug, &.NOT_A_BUG,
    &.False_Positive, &.FALSE_POSITIVE,
    &.Intentional, &.INTENTIONAL {
        background: repeating-linear-gradient(
            43deg,
            rgba(255,255,255,0.5),
            rgba(255,255,255,0.5) 10px,
            var(--Not-A-Bug-hover) 10px,
            var(--Not-A-Bug-hover) 20px
        ) !important;
    }

    &.Pending, &.PENDING {
        background: repeating-linear-gradient(
            43deg,
            rgba(255,255,255,0.5),
            rgba(255,255,255,0.5) 10px,
            var(--Pending-hover) 10px,
            var(--Pending-hover) 20px
        ) !important;
    }

    &.Bug, &.BUG {
        background: repeating-linear-gradient(
            43deg,
            rgba(255,255,255,0.5),
            rgba(255,255,255,0.5) 10px,
            var(--Bug-hover) 10px,
            var(--Bug-hover) 20px
        ) !important;
    }
}

input[type=checkbox]:checked + label.option.no-message {
    background: repeating-linear-gradient(
        43deg,
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.5) 10px,
        var(--elem-color) 10px,
        var(--elem-color) 20px
    ) !important;

    &.Info {
        background: repeating-linear-gradient(
            43deg,
            rgba(255,255,255,0.5),
            rgba(255,255,255,0.5) 10px,
            var(--Info) 10px,
            var(--Info) 20px
        ) !important;
    }
    &.Medium {
        background: repeating-linear-gradient(
            43deg,
            rgba(255,255,255,0.5),
            rgba(255,255,255,0.5) 10px,
            var(--Medium) 10px,
            var(--Medium) 20px
        ) !important;
    }
    &.Low {
        background: repeating-linear-gradient(
            43deg,
            rgba(255,255,255,0.5),
            rgba(255,255,255,0.5) 10px,
            var(--Low) 10px,
            var(--Low) 20px
        ) !important;
    }
    &.High {
        background: repeating-linear-gradient(
            43deg,
            rgba(255,255,255,0.5),
            rgba(255,255,255,0.5) 10px,
            var(--High) 10px,
            var(--High) 20px
        ) !important;
    }

    &.Not_A_Bug, &.NOT_A_BUG,
    &.False_Positive, &.FALSE_POSITIVE,
    &.Intentional, &.INTENTIONAL {
        background: repeating-linear-gradient(
            43deg,
            rgba(255,255,255,0.5),
            rgba(255,255,255,0.5) 10px,
            var(--Not-A-Bug) 10px,
            var(--Not-A-Bug) 20px
        ) !important;
    }

    &.Pending, &.PENDING {
        background: repeating-linear-gradient(
            43deg,
            rgba(255,255,255,0.5),
            rgba(255,255,255,0.5) 10px,
            var(--Pending) 10px,
            var(--Pending) 20px
        ) !important;
    }

    &.Bug, &.BUG {
        background: repeating-linear-gradient(
            43deg,
            rgba(255,255,255,0.5),
            rgba(255,255,255,0.5) 10px,
            var(--Bug) 10px,
            var(--Bug) 20px
        ) !important;
    }
}
