<!-- Spinner animation -->
<spinner
         *ngIf="!this.reportService.filter && !isReportFetchError"
         caption="Loading report..."
         class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
</spinner>
<!-- Error handling -->
<missing-report-error
                      *ngIf="isReportFetchError"
                      class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
</missing-report-error>
<!-- When everything works fine -->
<nav id="filterBar" *ngIf="this.reportService.filter" class="filter-panel open col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">


    <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
        <!-- Button open/close filters -->
        <button id="chrevonButton" class="arrow-button open"
                (click)="openCloseFilterTab()">
            <i *ngIf="!filterOpen" class="material-icons">chevron_right</i>
            <i *ngIf="filterOpen" class="material-icons">chevron_left</i>
        </button>
        <span *ngIf="!filterOpen" class="filter-span">My filter</span>
    </span>
    <!-- If there is no filter and so no messages -->
    <span  class="no-filter-span col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad"
           *ngIf="reportService.isFilter == false">
        <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          There are no messages in the gnathub databases.
        </span>
        <span  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          So there are no filters.
        </span>
        <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          To see files anyway in the navigation view, please activate "Show all files" in the head bar.
        </span>
    </span>

    <!-- Show all the filters according to the report.json -->
    <template [ngIf]="(this.reportService.filter.tools || this.reportService.filter.rules || this.reportService.filter.properties) | dshNotEmpty" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
        <div class="option-selectors col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
            <filter-selector class="tool-selector" title="Tools"
                             *ngIf="this.reportService.filter.tools | dshNotEmpty"
                             [options]="this.reportService.filter.tools | dshMapValues"
                             (toggle)="onToolFilterToggle($event)">
            </filter-selector>
            <filter-selector
                             class="property-selector" title="Ranking"
                             *ngIf="this.reportService.filter.ranking | dshNotEmpty"
                             [options]="this.reportService.filter.ranking | dshMapValues"
                             (toggle)="onRankingFilterToggle($event)">
            </filter-selector>
            <filter-selector
                             class="rule-selector" title="Categories"
                             *ngIf="this.reportService.filter.rules | dshNotEmpty"
                             [options]="this.reportService.filter.rules | dshMapValues"
                             (toggle)="onRuleFilterToggle($event)">
            </filter-selector>
            <filter-selector
                             class="property-selector" title="History"
                             *ngIf="this.reportService.filter.properties | dshNotEmpty"
                             [options]="this.reportService.filter.properties | dshMapValues"
                             (toggle)="onPropertyFilterToggle($event)">
            </filter-selector>
            <filter-selector
                             class="property-selector" title="Review Status"
                             *ngIf="this.reportService.filter.review_status | dshNotEmpty"
                             [options]="this.reportService.filter.review_status | dshMapValues"
                             (toggle)="onReviewFilterToggle($event)">
            </filter-selector>
        </div>
    </template>
</nav>
