.filter-selector {

  .filter-header {
    border-bottom: 1px solid #e6e6e6;
    color: #333;
    padding: 8px 10px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 2px;
  }

  input[type=checkbox] {
    display: none;
  }

  label.option {
    margin: 1px 0px;
    padding: 5px;
    background-color: rgba(00,00,00,0.1);
    div.count{
      text-align: right;
      float: right;
    }

    &.Info {
      background-color: #cfcfff;
      &:hover {
        background-color: #b0b0ff;
      }
    }
    &.Unspecified {
      background-color: rgba(0, 0, 0, .1);
      &:hover {
        background-color: rgba(0, 0, 0, .15);
      }
    }
    &.Medium {
      background-color: #ffe0a7;
      &:hover {
        background-color: #ffcb6b;
      }
    }
    &.Low {
      background-color: #ffffb5;
      &:hover {
        background-color: #ffff4e;
      }
    }
    &.High {
      background-color: #ffb0b0;
      &:hover {
        background-color: #ff8080;
      }
    }


  }
  label.option:hover, input[type=checkbox]:not(:checked) + label.option:hover {
    background-color: rgba(00,00,00,0.15);
  }

  input[type=checkbox]:not(:checked) + label.option {
    opacity: 0.5;
    background-color: rgba(00,00,00,0.05);
  }

  i.arrow {
    position: absolute;
    right: 0px;
  }
  i.arrow:hover {
    background-color: rgba(00,00,00,0.05);
  }
  .select {
    font-weight: 200;
    padding-left: 15px;

    span:hover {
      text-decoration: underline;
    }
  }
}

.filter-selector.open {
  .filter-body {
    display: inline-block;

    .hide {
      display: none;
    }

  }
}

.filter-selector.reduce {
  .filter-body {
    display: none;
  }
  i.arrow {
    transform: rotate(180deg);
  }
}
